/*
 # Buttons Basic Setup
 */

/* # buttonwrapper */
.btn-wrapper {
    padding: $gutter-one-plus-half inherit $gutter-three-quarters;
}

/* Pretend space for absolute positioned buttons on bottom (needed for equal height layout */
.btn-wrapper--bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 0;
    padding: 0 $gutter $gutter;
}

/* # button */

.btn {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden; /* truncate text */
    margin: $gutter-quarter 0;
    padding: 14px $gutter-three-quarters;
    vertical-align: middle;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: $border-radius;
    white-space: nowrap; /* truncate text */
    text-overflow: ellipsis; /* truncate text */
    line-height: 1;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: $white;
    cursor: pointer;
    @include touch-action;
    @include user-select;

    @include link-pseudos {
        color: $white;
    }

    @include link-pseudos-hover {
        cursor: pointer;
        text-decoration: none;
    }

    @include respond-to-min($screen-small) {
        width: auto;

    }

    &:focus {
        outline-width: 5px;
    }

    &--social--share {
        width: 44px;
        height: $btn-height-regular;
        background-position: center center;
        background-size: 30px 30px;
    }

    &--icon {
        @include padding(14px, 48px, 14px, $gutter);
        background-position: right 10px;
    }

    .icon-ic {

        &.active {
            visibility: hidden;
            display: none;
        }
    }

    /* ### button colors */
    /* ## button primary color */
    &--primary {
        background-color: $trv-maincolor-01;
        border: 1px solid $trv-maincolor-01;
        border-bottom: 1px solid $trv-maincolor-01-dark;

        @include button-pseudos($trv-maincolor-01-dark, $trv-maincolor-01, $trv-maincolor-01-very-light);
    }

    /* ## button secondary color */
    &--secondary {
        background-color: $trv-maincolor-04-light;
        border: 1px solid $trv-maincolor-04-light;
        border-bottom: 1px solid $trv-maincolor-04;

        @include button-pseudos($trv-maincolor-04, $trv-maincolor-04-light, $trv-maincolor-04-very-light);
    }

    /* ## button tertiary color */
    &--tertiary {
        background-color: $white;
        border: 1px solid $trv-maincolor-04-light;
        color: $text;

        @include link-pseudos {
            color: $text;
        }

        &:hover, &:active {
            background-color: $trv-maincolor-04-light;
            color: $white;

            .icon-ic {
                display: none;

                &.active {
                    visibility: visible;
                    display: inline;
                }
            }
        }

        &:focus {
            background-color: $white;
            border: 1px solid $trv-maincolor-04-light;
            color: $text;

            &:hover {
                background-color: $trv-maincolor-04-light;
                color: $white;

                .icon-ic {
                    display: none;

                    &.active {
                        visibility: visible;
                        display: inline;
                    }
                }
            }
        }

        &.btn--disabled {
            border-color: $trv-maincolor-04-very-light;
            background-color: $white;
            color: $trv-maincolor-04-very-light;

            &:focus {
                border-color: $trv-maincolor-04-very-light;
                background-color: $white;
                color: $trv-maincolor-04-very-light;

                &:hover {
                    border-color: $trv-maincolor-04-very-light;
                    background-color: $white;
                    color: $trv-maincolor-04-very-light;
                }
            }
        }

    }

    /* ## button negative color */
    &--negative {
        color: $white;
        background-color: $trv-maincolor-03;
        border: 1px solid $trv-maincolor-03;
        border-bottom: 1px solid $trv-maincolor-03-dark;

        @include button-pseudos($trv-maincolor-03-dark, $trv-maincolor-03, $trv-maincolor-03-very-light);
    }

    /* ## button deal color */
    &--deal {
        background-color: $trv-maincolor-05;
        border: 1px solid $trv-maincolor-05;
        border-bottom: 1px solid $trv-maincolor-05-dark;

        @include button-pseudos($trv-maincolor-05-dark, $trv-maincolor-05, $trv-maincolor-04-very-light);
    }

    /* ## button size */
    /* button size regular */

    /* the tiny button is just for DEA */
    &--tiny {
        font-size: $font-size-4xs;
        height: $btn-height-tiny;
        padding: 0 $gutter-half;
        line-height: .5;


        .btn__text {
            float: none;
            padding-top: $gutter-three-eighths;

            &--leading {
                @include padding-trailing($gutter-half);

                @include respond-to-min($screen-small) {
                    @include float(leading);
                }
            }

            &--trailing {
                @include padding-leading($gutter-half);

                @include respond-to-min($screen-small) {
                    @include float(trailing);
                }
            }
        }

        .btn__icon {
            background-size: 10px;
            float: none;
            height: 10px;
            padding: $gutter-half $gutter-half $gutter-half 0;

            &--leading {
                background-position: left -1px top 50%;

                @include respond-to-min($screen-small) {
                    @include float(leading);
                }

            }

            &--trailing {
                background-position: right -1px top 50%;

                @include respond-to-min($screen-small) {
                    @include float(leading);
                }

            }
        }

    }

    &--small {
        font-size: $font-size-xxs;
        height: $btn-height-small;
        // this is an absolute exception for small buttons
        line-height: .5;
    }

    &--regular {
        font-size: $font-size-xs;
        height: $btn-height-regular;
    }

    &--big {
        font-size: $font-size-s;
        height: $btn-height-big;
        padding: 14px $gutter;
    }

    // General btn--disabled placeholder.
    &--disabled {
        color: $white;

        @include link-pseudos {
            cursor: not-allowed;
            // disabled buttons don't need a focus styling
            outline: none;
        }
    }
}


/* Modern browsers show properly aligned icons because these are capable of four-value-background-position syntax */
.svg .btn--icon-trailing {
    background-position: $trailing 0 top 50%; /* bgp four-value syntax */
    padding: $gutter $gutter-doubled $gutter 0;
}

.svg .btn--icon-leading {
    background-position: $leading 0 top 50%; /* bgp four-value syntax */
    padding: $gutter 0 $gutter $gutter-doubled;
}

/* for the small buttons */
.svg {
    .btn--small {

        .btn--icon-trailing {
            padding: $gutter 28px $gutter 0;
        }

        .btn--icon-leading {
            padding: $gutter 0 $gutter 28px;
        }
    }
}

.abbr-btn[title] {
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;
}


    /* ## abbr button e.g. in footer */

.abbr-btn {
    @include deprecate("please remove this abbreviation button styling (update in structure(twig file) and styling)") {
        display: table-cell;
        @include padding-leading($gutter-half);
        max-width: 56px;
        overflow: hidden;
        vertical-align: top;
        border: 0;

        &:first-of-type {
            @include padding-leading($gutter-three-quarters);
        }

        .btn {
            width: auto;
            min-width: 0;
            margin: 0;
            padding: 0;
            color: $text;
            border: 0;
            background-color: transparent;
        }

        .btn__body {
            display: table-cell;
            vertical-align: middle;
            min-width: 44px;
            height: $btn-height-regular;
            margin: 1px;
            line-height: 1;
            font-weight: normal;
            border: 1px solid $trv-maincolor-04-very-light;

            &--active,
            &:hover,
            &:focus,
            &:active {
                border: 1px solid $trv-maincolor-04-lighter;
                box-shadow: inset 0 0 0 2px $trv-maincolor-04-lightest;
                border-radius: $border-radius;
                background-color: transparent;
                font-weight: bold;
            }
        }

        .active {
            @include link-pseudos-hover {
                cursor: text;
            }
        }

        // ### inverted abbr button
        .btn--inverted {
            color: $white;

            .btn__body {
                border-color: $white;

                &--active,
                &:hover,
                &:focus,
                &:active {
                    border-color: $white;
                    box-shadow: inset 0 0 0 2px $trv-maincolor-04-light;
                }
            }
        }
    }
}



.cta-box {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: $gutter-quarter;
    padding-top: 100%;

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: $white;
        border-radius: $border-radius;
        padding: 10px;
    }
    &__icon {
        position: absolute;
        bottom: $gutter;
        left: $gutter;
        width: 48px;
        height: 48px;
        display: inline-block;
    }

    .h3 {
        font-weight: 700;
        padding: 0;
        line-height: 1.25;
    }
}
