.footer {
    .wrapper {
        @include respond-to-min($screen-small) {
            max-width: 656px;
        }
        @include respond-to-min($screen-medium) {
            max-width: 1280px;
        }
    }

    &__main-wrapper {
        background-color: $trv-maincolor-04-dark;
        padding: $gutter-doubled 0;
        margin-top: 0;
        height: auto;
        min-height: 200px;
        color: $white;
        @include rem(font-size, 14px);

        @include respond-to-min($screen-medium) {
            padding: $gutter-doubled;
        }
    }

    &__content-wrapper {
        padding: 0;
    }

    &__country-container {
        @include float(trailing);

        .inverted {
            border: 1px solid $trv-maincolor-04-lighter;
        }
    }

    &__secondary-wrapper {
        background-color: $trv-maincolor-04;
        padding: $gutter-doubled 5%;
        margin-top: 0;
        height: auto;
        color: $white;
        @include rem(font-size, 12px);

        @include respond-to-min($screen-medium) {
            padding: $gutter-doubled;
        }
    }

    .white-logo {
        display: block;
        margin: 0 auto;
        height: 32px;
        width: 102px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &__address {
        @include rem(line-height, 22px);
        padding-top: $gutter-doubled;

        @include respond-to-min($screen-medium) {
            padding-top: 0;
            @include padding-trailing($gutter);
        }

        strong {
            font-weight: bold;
        }
    }

    &__copyright-text {
        text-align: center;
        margin-top: $gutter-half;
        display: inline-block;
        width: 100%;
        color: $trv-maincolor-04-lighter;
    }

    &__select-wrapper {
        height: 44px;

        .select {
            @include padding-trailing(36px);
            background-color: $trv-maincolor-04-dark;
        }
    }

    &__social-list {
        @include padding($gutter-doubled, 0, $gutter-doubled, 0);

        &--entry {
            display: inline-block;
            @include margin-trailing(6px);

            &:last-of-type {
                @include margin-trailing(0);
            }

            &__icon {
                width: 32px;
                height: 32px;
                display: inline-block;
                text-indent: -9999px;
                cursor: pointer;
                background-size: 100%;
                position: relative;

                &:hover {
                    opacity: $opacity-medium;
                }
            }
        }
    }

    &__social-list-ic {
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        @include position-value(leading, 0);

        > svg {
            width: 100%;
            height: 100%;
        }
    }

    &__items-list {
        margin-bottom: $gutter;

        .footer__list-entry {
            width: 100%;
            @include rem(line-height, 22px);
            @include text-overflow;

            .footer & {
                color: $white;
            }

            .footer__link {
                text-decoration: none;
                color: inherit;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__items--last {
        margin-bottom: 0;
    }

    &--cn {
        .footer__country-container {
            @include float(leading);
        }
        .footer__copyright-text {
            margin-top: $gutter-three-quarters;

            a {
                display: inline;

                @include respond-to-min($screen-tablet-wider) {
                    display: inline-block;
                }
            }
        }
        .white-logo--cn {
            display: block;
            width: 101px;
            height: auto;
            margin: 0 auto;
        }
    }
}

