.legend {
    float: left; /* fixes boxmodel-bug */
    display: block;
    width: 100%;
    padding: 0;
    margin: $gutter 0;
    line-height: inherit;
    border: 0;

    &:after {
        content: '';
        clear: left;
    }
}

/* input, select and textarea styling */
.input,
.textarea,
.select {
    background-color: transparent;
    border: 1px solid $trv-maincolor-04-lighter;
    border-radius: $border-radius;
    color: $text;
    font-size: $font-size-xs;
    height: $input-height-regular;
    padding: 0 $gutter-three-quarters;
    width: 100%;

    /* ## Placeholders */
    @include placeholder {
        color: $trv-maincolor-04-lighter;
        font-size: $font-size-xs;
        font-weight: normal;
    }

    &--small {
        font-size: $font-size-xxs;
        height: $input-height-small;

        @include placeholder {
            font-size: $font-size-xxs;
        }
    }

    &--inverted {
        color: $white;

        @include placeholder {
            color: $white;
        }
    }

    &--disabled {
        background-color: $trv-maincolor-04-lightest;
        border-color: $trv-maincolor-04-lightest;
        outline: 0;

        @include link-pseudos {
            cursor: not-allowed;
        }

        @include placeholder {
            color: $text;
        }
    }
}

/* ## textarea specifics */
.textarea {
    padding: $gutter-three-quarters 14px 0 $gutter-three-quarters;
    resize: vertical; /* Allow only vertical resizing of textareas */
    height: auto;
    min-height: 130px;
}

/* ## select specifics */
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-position: $trailing 50%;
    background-size: 24px 24px;
    background-position: $trailing 12px top 50%; /* Doesn't work on older mobile devices (S3) and needs to be at the end of the block ! */

    @include respond-to-min($screen-small) {
        @include padding-trailing(24px); // preserve space for custom arrow icon on selects.
    }

    /* Internetexplorer */
    /* Remove arrow for IE9 because it's bringing its own toys. */
    .ie9 & {
        background-image: none !important; /* There seems to be no other way then doing this with an !important. */
    }

    /* Removes default arrow from IE10+ */
    &::-ms-expand {
        display: none;
    }
}

/* ## Selects with icons */
.select-icon {
    position: relative;
    z-index: auto;
    line-height: 1;

    &__icon {
        @include center-y;
        position: absolute;
        z-index: 1; /* z-index lower than select's z-index to prevent non-clickable area. */
        display: block;
        @include position-value(leading, 12px);
    }

    /* longer cascade is needed here. */
    .select-icon__select {
        @include padding-leading(38px);
    }
}

/* ## Input text (search) with icons*/
.input-icon{
    position: relative;
    z-index: auto;

    &__icon{
        @include center-y;
        @include position-value(trailing, 12px);
        height: 24px;
        position: absolute;
        width: 24px;
    }
}


/* input password */
.input-password-wrapper {
    .input-password {
        @include padding-trailing(70px);
    }
}

/* General classes for flag, currency etc.. */
.icon-country-flag {
    width: 20px;
    height: 11px;
    background-image: url($icon-countryflags);
    background-repeat: no-repeat;
    background-position: 0 -30px;
    background-size: 20px auto;

    /* Modern browsers */
    .backgroundsize & {
        background-image: url($icon-countryflags-2x);
    }
}

.icon-currency {
    top: 17px;
    @include position-value(leading, 10px);
    width: 36px;
    height: auto;
    text-align: center;
    font-weight: bold;
    color: $white;
    @include rem(font-size, 12px);
}

/* ## Selects with additional 2 buttons */
.select-table-layout {
    display: table;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    .select-icon {
        display: table-cell;
        vertical-align: top;
        width: 100%;
    }
}

/* ## Valid */
.is-valid {
    @include padding-trailing(40px);
    background-position: right center;

    /* Modern browsers beside IE8 */
    .flexbox & {
        background-position: $trailing 7px top 50%;
    }
}

/* ## Errors */
.is-error {
    border-color: $trv-maincolor-03;
    background-color: $trv-maincolor-03-lightest;
}

/* ## Progressbars pt. I */
.is-progress {
    @include padding-trailing(70px);
}

/* ## Progressbars pt. II */
.progresswrapper {
    //top: 41px;
    @include center-y;
    @include position-value(trailing, 12px);
    width: 44px;
    height: 4px;
    background: $trv-maincolor-04-very-light;
    line-height: 1;
    position: absolute;
    border-radius: 2px;

    .progress {
        display: block;
        height: 4px;
        border-radius: 2px;
        @include transition(width .25s ease-out);

        &.percentage-25 {
            width: 25%;
            background: $trv-maincolor-02;
        }

        &.percentage-50 {
            width: 50%;
            background: $trv-maincolor-05-light;
        }

        &.percentage-75 {
            width: 75%;
            background: $trv-maincolor-05;
        }

        &.percentage-100 {
            width: 100%;
            background: $trv-maincolor-05;
        }
    }
}

/* ## Label */
.labelwrapper {
    @include padding-trailing(20px);
}

.label {
    display: inline-block;
    max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
    margin-bottom: 4px;
    font-size: $font-size-xxs;
    font-weight: bold;

    .small {
        font-weight: normal;
    }

    abbr {
        border: none;
        text-decoration: none;
    }

    &--inverted {
        color: $white;
    }
}

/* ## Tooltips on hover */
.tooltip {
    @include position-value(trailing, 0);
    top: 2px;
    z-index: 4;
    color: $trv-maincolor-04-very-light;
    max-width: 267px;

    @include link-pseudos-hover {
        cursor: pointer;

        .tooltip__body {
            display: block;
        }
    }

    &__body {
        display: none; /* only visible on hover */
        right: 25px;
        top: -5px;
        z-index: 3;
        width: 200px;
        padding: 5px 9px;
        background: $trv-maincolor-04-dark;
        @include rem(font-size, 12px);
        font-weight: normal;
        color: $white;
        border-radius: $border-radius;

        &:after {
            right: -5px;
            top: 8px;
            display: block;
            @include transform(rotate(45deg));
            width: 10px;
            height: 10px;
            background: $trv-maincolor-04-dark;
        }
    }
}

/* ## Formfield hint */
.hint-formfield {
    color: $trv-maincolor-04-lighter;
}

/* ## Error hint */
.error-hint {
    position: relative;
    z-index: 2;
    margin-top: -10px;
    padding: 8px;
    box-shadow: $box-shadow;
    border: 1px solid $trv-maincolor-03;
    background-color: $white;
    background-position: 8px 12px;
    color: $trv-maincolor-03;
    font-size: $font-size-xxs;

    .block {
        font-weight: normal;
    }

    &:after {
        @include position-value(leading, 15px);
        top: -6px;
        z-index: 3;
        display: block;
        @include transform(rotate(45deg));
        width: 12px;
        height: 12px;
        background: $white;
        border: 1px solid $trv-maincolor-03;
    }

    &:before {
        top: 0;
        z-index: 4;
        @include position-value(leading, 12px);
        width: 18px;
        height: 8px;
        background: $white;
    }
}

.checkbox-container,
.radio-container {
    @extend .select-table-layout;
    vertical-align: top; /* Webkit */

    .label {
        display: table-cell;
        width: 100%;
        font-size: $font-size-xxs;
        font-weight: normal;
        vertical-align: middle;
        top: 0;
        position: relative;
    }
}

.checkbox,
.radio {
    display: table-cell;
    vertical-align: top; /* Webkit */
    margin-top: 2px;
    @include margin-trailing($gutter-half);
    line-height: normal;
    width: auto;
    border: 0; /* IE8 */
}

/* ## General class for buttons in input fields */
.input-btn {
    position: absolute;
    top: 1px;
    z-index: 1;
    display: block;
    width: $input-height-regular - 2px;
    height: $input-height-regular - 2px;
    @include position-value(trailing, 1px);
    background-position: center center !important;
    border: 0;
}

body {
    .input-text-search,
    .input-search {
        @include padding-trailing(50px);
    }
}

/* ## Input type file */

.input-file {
    z-index: 2;
    max-width: 100%;
    height: $input-height-regular;
    opacity: 0;
}

.input-file-fake {
    top: 0;
    z-index: 1;
}


/* ### Input type file :: Upload stati */
.input-file-progress {
    @include position-value(trailing, 50px);
}

.input-file-success,
.input-file-fail {
    top: 10px;
    @include position-value(trailing, 48px);
    width: 24px;
    height: 24px;
}

.input-btn--trash {
    z-index: 3;
    @include position-value(trailing, $input-height-regular - 2px);
}



.inverted {
    @include deprecate("please update to .input--inverted") {
        color: $white;
        border: 1px solid $white;
        background-color: transparent; /* Give $trv-maincolor-04 via parent container or flags inside of selects wouldn't be visible anymore. */

        @include placeholder {
            color: $trv-maincolor-04-lighter;
            font-weight: normal;
        }

        &.label,
        &.hint-required,
        &.legend {
            border: 0;
            background-color: transparent;
        }

        .option--inverted {
            color: $black;
            background-color: $white; /* for visibility in different browsers on different os. */
        }
    }
}

    /*
     * Inverted .select-icon does not have a background-color because the icon itself
     * is positioned under it z-index-wise. It has to be lower because otherwise this
     * part of the select-element is not clickable anymore.
     */

.select-icon-wrapper {
    @include deprecate("please delete this, this is no longer needed. If you need it: contact @jderix") {
        &.wrapper-inverted {
            position: relative;
            background-color: transparent;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                z-index: 0; /* z-index lower than the z-index of ".icon" to make .icon visible */
                width: 100%;
                height: 100%;
                border-radius: $border-radius;
                background: $trv-maincolor-04;
            }
        }

        .inverted {
            background-color: transparent;
        }

        .inverted-form {
            overflow: hidden;
            margin-bottom: 0;
            background-color: $trv-maincolor-04;
        }
    }
}

/*
 * # Switch - radiobuttons as switches
 */
.switch {
    margin-top: -8px;
}

/* ## Switch - label as slider bar */
.switch__label {
    position: relative;
    display: block;
    width: 47px;
    height: 26px;
}

/* ## Switch - slider bar */
.switch__sliderbar {
    display: block;
    width: 100%;
    height: 28px;
    cursor: pointer;
    background: $trv-maincolor-04-very-light;
    border-radius: 26px;
    @include transition(background .5s ease);
}

/* ## Switch - slider button */
.switch__sliderbutton {
    position: absolute;
    top: 2px;
    @include position-value(leading, 2px);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $white;
    @include transition(all .5s ease);
}

/* ## Switch - checkbox: trigger :checked status */
.switch__checkbox {
    visibility: hidden;

    &:checked + .switch__label {

        .switch__sliderbar {
            background: $trv-maincolor-01-light;
        }

        .switch__sliderbutton {
            @include position-value(leading, 21px);
        }
    }
}
