//Popover-Base: container for the subnavigation content of the header (e.g. bookmarks and Log in)
//.popover is usable without any arrows.

//Although if a span.popover__arrow is injected into an .popover element, the default behaviour would be an arrow which
//points to the top. This arrow has a width of 24px and is positioned horizontally with a distance of 36px from the right side of the popover box (right: 36px).

//The popover box is designed to be used inside of the element it refers to.

//To middle-align the arrow horizontally to the element (Elm) it should point to, the formula to be used would be: Elm.width/2 - 48px!

.popover {
    max-width: 256px;

    .content_inner {
        padding: 4px;
    }

    //////////////////////////////////////////////
    // MODERN BROWSER VERSION OF THE POINTER-ARROW
    //////////////////////////////////////////////

    &__copy{
        font-size: $font-size-3xs;
        line-height: $line-height-small;
        padding-bottom: 12px;
        text-align: $leading;
    }

    .gutter-box{
        @include padding-leading(12px);
        @include padding-trailing(12px);
    }

    //Pricesearch related styles - START

    .icon-icn_list_teaser_heart.icon-ic{
        display: block;
        float: none;
        height: 69px;
        margin-bottom: 0;
        margin-left: 47px;
        width: 131px;
    }


    &__ctest-selector{
        width: 256px; // explore the full max-width!
    }

    &__language-selector{
        width: 100px;
    }

    //Pricesearch related styles - END

    &__arrow{
        width: 38px;
        height: 19px;
        position: absolute;
        overflow: hidden;
        top: -19px;
        @include position-value(trailing, 36px);

        &:after{
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: $white;
            box-shadow: $box-shadow;
            transform: rotate(45deg);
            top: 11px;
            @include position-value(leading, 18px);
        }
    }

    &__head{
        font-size: $font-size-xxs;
        font-weight: normal;
        text-align: $leading;
    }

    &__select-ul{
        margin-bottom: 0;
    }

    &__select-li{
        border-bottom: 1px solid $trv-maincolor-04-lightest;

        &:hover, &:focus, &:active{
            background-color: $trv-maincolor-04-lightest;
        }

        &:first-child{
            border-radius: 2px 2px 0 0;
        }

        &:last-child{
            border-radius: 0 0 2px 2px;
            border-bottom-width: 0;
        }
    }

    &__select-link{
        color: $trv-maincolor-04;
        cursor: pointer;
        display: block;
        font-size: $font-size-xxs;
        line-height: $btn-height-regular;
        padding: 0 20px;

        &--icon{
            @include flexbox;
            .icon-icn_avatar_border_m{
                display: block;
                @include margin-trailing(8px);
                width: 24px;
                height: 44px;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }

    &--icon {
        min-height: 44px;
        height: auto;
        background-color: $white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: block;
        min-width: 200px;
        padding: 4px;
        position: absolute;
        top: 70px;
        z-index: 1;
        max-width: unset;
        @include position-value(trailing, -1 * $gutter);
    }

    &__icon-ul {
        padding-top: 1px;
    }

    &__icon-li {
        border-right: 1px solid $trv-maincolor-04-lightest;
        float: left;
        height: 34px;
        width: 38px;
        transition: background-color 0.2s;

        &:last-child {
            border-right: none;
        }

        &:hover {
            background-color: $trv-maincolor-04-lightest;
            transition: background-color 0.2s;
        }
    }

    &__icon-icon {
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: top 5px left 6px;
        border: none;
        width: 34px;
        height: 34px;
        padding: 0;
    }

    &__label{
        display: block;
        font-weight: bold;
        padding-bottom: 6px;
    }

    &__input{
        &--text{
            width: 100%;
            height: 36px;
            font-size: $font-size-xxs;
            @include padding-leading(12px);
            border: 1px solid $trv-maincolor-04;
            border-radius: 2px;
            margin-bottom: 12px;
            vertical-align: middle;
        }
    }

    &__link{
        color: $trv-maincolor-04-light;
        float: $trailing;
        font-size: $font-size-xxs;
    }

    &__button{
        &--link{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border-width: 0;
            color: $trv-maincolor-01;
            float: $trailing;
            font-size: $font-size-xxs;
            padding: 0;
            @include margin-leading(16px);
            margin-bottom: 8px;
            font-weight: bold;
        }
    }
    // overwritten class for proper rendering of the bookmarks-list in the popover of the new header
    .fav-hotel{
        @extend .gutter-box;
    }
}

//////////////////////////////////////////
// IE8 & IE9 VERSION OF THE POINTER-ARROW
//////////////////////////////////////////

.ie8, .ie9{
    .popover {
        border: 1px solid $trv-maincolor-04-very-light;
        box-shadow: none;
        &__arrow {
            height: auto;
            position: absolute;
            overflow: visible;
            @include position-value(trailing, 36px);
            top: 0;
            width: auto;

            &:before, &:after {
                border-style: solid;
                border-width: 0 12px 12px 12px;
                box-shadow: none;
                content: "";
                display: block;
                height: 0;
                position: absolute;
                top: auto;
                width: 0;
                @include position-value(trailing, 0);
            }

            &:before {
                border-color: transparent transparent $trv-maincolor-04-very-light transparent;
                top: -12px;
            }

            &:after {
                background-color: transparent;
                border-color: transparent transparent #fff transparent;
                height: 0;
                @include position-value(leading, auto);
                top: -11px;
                width: 0;
                transform: none;
            }
        }
    }
}

//////////////////////////////////////////
// TRELOM OVERRIDES FOR WHEN POPOVER.SCSS IS ACTIVE
//////////////////////////////////////////

.oeWindow.popover {
    border: none;
    box-shadow: $box-shadow-02;

    .oeArrowOuter
    {
        &.left
        {
            border-color: transparent transparent transparent rgba(41, 51, 57, .25);
        }

        &.right
        {
            border-color: transparent rgba(41, 51, 57, .25) transparent transparent;
        }

        &.top
        {
            border-color: rgba(41, 51, 57, .25) transparent transparent transparent;
        }

        &.bottom
        {
            border-color: transparent transparent rgba(41, 51, 57, .25) transparent;
        }
    }
}
