// Basic header control (button) styles used on any header control modification
%siteheader__control-base{
    //IE9 additions - start
    display: table;
    float: $trailing;
    //IE9 additions - end

    //Resetting native button appearance
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: $white;
    border: 0 solid $trv-maincolor-04-lightest;
    @include border-width(0, 0, 0, 1px);
    border-radius: 0;
    color: $trv-maincolor-04;
    @include flexbox;
    font-size: $font-size-3xs;
    height: 100%;
    min-width: 57px;
    padding: 0 8px;
    position: relative;
}

// Basic styles for the logo link. Used with variations on all logos (international, cn, jp)
%siteheader__logo-link-base{
    align-self: center;
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: 14px 16px 10px;
    position: absolute;
    width: 134px;

    //IE9 additions - start -> horizontally centering the logo
    top: 0;
    @include position-value(trailing, 0);
    bottom: 0;
    @include position-value(leading, 0);
    //IE9 additions - end

    @include respond-to-min($screen-small){
        //Increase paddings due to greater height of header
        padding-bottom: 14px;
        padding-top: 18px;
    }
}

.siteheader{

    //IE9 additions - start
    display: block;
    //IE9 additions - end

    box-shadow: $box-shadow;
    @include flexbox;
    @include justify-content(flex-start);
    @include flex(0, 1, auto);

    background-color: $white;
    height: 56px;
    position: relative;
    width: 100%;

    //Greater masthead height from tablet size on
    @include respond-to-min($screen-small){
        height: 64px;
    }

    //Pushing Headertools to the right side
    @include respond-to-min($screen-medium){
        @include justify-content(flex-end);
    }

    //We need the flex-wrapper for using flexbox inside of buttons as flexbox is not working properly inside of them.
    .flex-wrapper{

        .no-flexbox &{
            //IE9 additions - start
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            //IE9 additions - end
        }

        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        width: 100%;

        @include respond-to-min($screen-small){

            //IE9 additions - start
            line-height: 24px;
            //IE9 additions - end

            @include flex-direction(row);
        }
    }

    //(Pricesearch only!) This class differs from the patternlab version of the new header. it allows the buttons to be additionally
    //wrapped by an element which is necessary in pricesearch due to existing functionality (backbone.js)
    .header-ctrl{

        .no-flexbox &{
            //IE9 additions - start
            display: table-cell;
            //IE9 additions - end
        }
        @include flexbox;
        height: 100%;
    }

    //(Pricesearch only!) Wrapper is needed for existing functionality in pricesearch (headertools).
    &__headertools{

        .no-flexbox &{
            //IE9 additions - start
            display: table;
            //IE9 additions - end
        }
        @include flexbox;

        float: $trailing;
        height: 100%;

        .siteheader__control{
            &:first-child{
                @include border-width(0, 0, 0, 1px);
            }
        }
    }

    //BEM-Element siteheader__control (buttons in header)
    &__control{

        @extend %siteheader__control-base;

        .no-flexbox & {
            display: table;
        }

        &:active,
        &:focus {
            background-color: $trv-maincolor-04-lightest;
            outline: none; //not good for a11y. todo: @uwl check alternatives for a a11y- and design-aligned solution!

            .notification-circle{
                border-color: $trv-maincolor-04-lightest;
            }
        }

        //pushing the first button (filters) to the leftmost edge with auto-margin within a flexbox
        &:first-child{

            //IE9 additions - start
            float: $leading;
            //IE9 additions - end

            @include border-width(0, 1px, 0, 0);
            @include margin-trailing(auto);
        }

        @include respond-to-min($screen-small){
            font-size: $font-size-xxs;
            min-width: 128px;
            padding: 0 16px;
        }

        //.siteheader__control--fix: masthead controls with a fixed square-shape. should only be visible only on large screens ($screen-large)
        &--fix.siteheader__control{

            @include respond-to-min($screen-small) {
                min-width: 0;
                width: 65px;

            }

            .icon-ic {
                @include respond-to-min($screen-small) {
                    @include margin-trailing(0);
                }
            }
        }

        @include respond-to-min($screen-large){
            //IE9 additions - start
            float: $leading;
            //IE9 additions - end
        }

        .icon-ic{
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 18px;
            margin: 0 auto 2px;
            position: relative;
            width: 18px;

            @include respond-to-min($screen-small){

                //IE9 additions - start
                float: $leading;
                //IE9 additions - end

                height: 24px;
                @include margin(0, 8px, 0, 0);
                width: 24px;

                &.icon-icn_avatar_border{
                    height: 24px;
                    width: 24px;
                }
            }
        }

        .notification-circle{

            background-color: $trv-maincolor-03;
            border: 2px solid $white;
            border-radius: 50%;
            display: block;
            height: 10px;
            position: absolute;
            @include position-value(trailing, -2px);
            top: 1px;
            width: 10px;
        }


        //.siteheader__control--fix-select: It has the same purpose as .siteheader__control--fix, only it's used for controls containing select elements.
        &--fix-select{

            @extend .siteheader__control--fix;
            @include flexbox;
            @include justify-content(center);

            padding: 0; //@uwl: We need to zero out the padding for the select elements inside of siteheader-controls with select elements
        }

        //.icon-ic goes with every usage of an icon-element.
        //todo: @uwl: double check if this approach is not too specific for using with various items. Could make things inflexible --> see comment on &--fix-has-bookmark
        &--fix-has-bookmark{
            @extend .siteheader__control--fix;
            @include respond-to-min($screen-large){

                .icon-ic{
                    &.icon-icn_heart_fill_red{
                        display: block;
                    }
                    &.icon-icn_heart_line_dark{
                        display: none;
                    }
                }
            }
        }

        .popover{
            min-width: 256px;
        }
    }

    //link-wrapper wrapping the logo
    &__logo-link{
        @extend %siteheader__logo-link-base;

        &--jp{
            @extend %siteheader__logo-link-base;
            padding:{
                top: 16px;
                bottom: 12px;
            }
            width: 104px+32px;
        }

        &--cn{
            @extend %siteheader__logo-link-base;
            padding:{
                top: 12px;
                bottom: 8px;
            }
            width: 85px+32px;
        }
        &--kr{
            @extend %siteheader__logo-link-base;
            padding:{
                top: 12px;
                bottom: 12px;
            }
            width: 112px+32px;
        }
    }

    &__logo{
        display: block; // to fix some weirdness in some Webkit browsers, e.g. Dolphin
        width: 100%;
    }

    //Selectbox inside of .siteheader__control
    &__select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border: 0;
        flex-basis: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        @include position-value(leading, 0);
        text-align: center;
        top: 0;
        width: 100%;
        option{
            padding: 0;
        }

        &:focus, &:active {
            .no-flexbox & {
                min-width: 150px; // fix for option width ie8
            }
        }
    }
}

//Styles for contents of the siteheader .popover and sidebars
.icon-icn_list_teaser_heart.icon-ic{
    margin-bottom: 0;
    margin-left: 47px;
    margin-right: auto;
}

.comparison #show_nav,
.simplified #show_nav{
    visibility: hidden;
}
