.btn {
    @include rem(font-size, $font-size-xs);
    height: 44px;
    width: auto;
}

.btn--full-width{
    width: 100%;
}

.btn--min-width {
    min-width: 122px;
}

.btn--negative[disabled] {
    @extend .btn--negative.btn--disabled;

    @include link-pseudos {
        @extend .btn--negative.btn--disabled;
    }
}

.btn--primary[disabled] {
    @extend .btn--primary.btn--disabled;

    @include link-pseudos {
        @extend .btn--primary.btn--disabled;
    }
}

.btn--tertiary.active {
    background-color: #697379;
    color: #fff;
}

.btn--tertiary[disabled] {
    @extend .btn--tertiary.btn--disabled;

    @include link-pseudos {
        @extend .btn--tertiary.btn--disabled;
    }
}

.btn--small{
    font-size: $font-size-xxs;
    height: $btn-height-small;
}
