.e-button--warning:active {
    background: $trv-maincolor-02-dark;
}

.e-button--warning:focus,
.e-button--warning:hover,
.e-button--warning:visited {
    background: $trv-maincolor-02-light;
}

.e-button--warning {
    background: $trv-maincolor-02;
    border: 1px solid $trv-maincolor-02;
    border-bottom: 1px solid $trv-maincolor-02-dark;
}

.e-button--link {
    background: none;
    border: 0;
}

.e-button--link[disabled]{
    background-color: transparent;
}

.e-button--radio {
    border-radius: 0;
    border-right: none;
}

.e-button--radio:first-child {
    border-radius: 2px 0 0 2px;
}

.e-button--radio:last-child {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid;
}
