.dot {
    background: $trv-maincolor-04-lightest;
    border-radius: 50%;
    display: block;
    height: 7px;
    margin: 3px auto;
    width: 7px;
}

.dot-active {
    background: $trv-maincolor-05;
    border: 3px solid $trv-maincolor-05-very-light;
    height: 13px;
    margin: 0 auto;
    width: 13px;
}
