.e-input,
.e-textarea,
.e-select {
    background: $white;
    border: 1px solid $trv-maincolor-04-lighter;
    border-radius: $border-radius;
    font-weight: normal;
    height: $input-height-regular;
    line-height: $line-height-small;
    margin-bottom: $gutter;
    margin-top: $gutter-quarter;
    padding: 0 $gutter-three-quarters;

    &[disabled],
    &[disabled],
    &[disabled] {
        background-color: $trv-maincolor-04-lightest;
        border-color: $trv-maincolor-04-very-light;
        color: $trv-maincolor-04-lighter;
        -webkit-text-fill-color: $trv-maincolor-04-lighter;
    }
}

.e-textarea {
    @include rem(font-size, $font-size-xxs);
    display: block;
    height: auto;
    min-height: 126px;
    padding: $gutter-three-quarters;
    resize: none;
    word-break: break-word;
}

.e-select {
    appearance: none;
    background-image: url(images/icons/icn_arrow_down_thin_dark.svg);
    background-position: right 8px top 50%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-smoothing: antialiased;
    line-height: normal;
    text-indent: .01px;
    text-overflow: '';

    &:focus::-ms-value {
        background: none;
        color: $trv-maincolor-04;
    }
}

.e-radio,
.e-checkbox {
    display: inline-block;
    width: auto;
}

.e-input--icon,
.e-icon--select {
    height: 24px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
}

.e-icon--select {
    left: 12px;
    right: auto;
}

.e-select--icon {
    padding-left: 42px;
}

.e-input--small,
.e-select--small {
    font-size: $font-size-xxs;
    height: $input-height-small;
}
