/**
 * @see http://petercollingridge.appspot.com/svg-editor
 */

// Main icon class
.e-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

// Icons font colors
.is-active > .e-icon-font {
    color: $white;
}

// Arrows
.e-icon--arrow-right-thin-grey {
    background-image: url('images/icons/icn_arrow_right_thin_grey.svg');
    height: 12px;
    width: 8px;
}

// Clock line
.e-icon--clock-line-dark {
    background-image: url('images/icons/icon-clock-line-dark.svg');
}

.e-icon--clock-line-grey {
    background-image: url('images/icons/icn_clock_line_grey.svg');
}

// Folder icons
.e-icon--folderopen-line-dark {
    background: url('images/icons/icn_folderopen_line_dark.svg') center center no-repeat;
}

// Info icons
.e-icon--info-circle-fill-dark {
    background-image: url('images/icons/icn_info_circle_fill_dark.svg');
}

// Profile icons
.e-icon--profile-line-dark {
    background-image: url('images/icons/icn_profile_line_dark.svg');
}

.e-icon--profile-line-grey {
    background-image: url('images/icons/icn_profile_line_grey.svg');
}

// Search
.e-icon--search{
    background-image: url('images/icons/icn_search.svg');
}

.e-icon--search-blue{
    background-image: url('images/icons/icn_search_blue.svg');
}

.e-icon--search-line-light {
    background-image: url('images/icons/icn_search_line_light.svg');
    height: 18px;
    width: 18px;
}

// X
.e-icon--x-fill-grey {
    background-image: url('images/icons/icn_x_fill_grey.svg');
    background-position: 50%;
}

.e-icon--x-fill-dark {
    background-image: url('images/icons/icn_x_thin_dark.svg');
}

.e-icon--x-red {
    background-image: url('images/icons/icn_x_thin_red.svg');
}

// Tick icon
.e-icon--tick-thin-dark{
    background-image: url('images/icons/icn_tick_thin_dark.svg');
}

.e-icon--tick-thin-green{
    background-image: url('images/icons/icn_tick_thin_green.svg');
}

// Plus icon
.e-icon--plus-circle-green{
    background-image: url('images/icons/icn-plus-circle-green.svg');
}

// Minus icon
.e-icon--minus-circle-red{
    background-image: url('images/icons/icn-minus-circle-red.svg');
}

.e-icon--checkin-line-dark{
    background-image: url('images/icons/icn_checkin_line_dark.svg');
}

.e-icon--arrow-left-thin-blue {
    background-image: url('images/icons/icn_arrow_left_thin_blue.svg');
}

// Edit icon
.e-icon--edit-line-dark{
    background-image: url('images/icons/icn_edit_line_dark.svg');
}

.e-icon--tick-circle-thin-dark{
    background-image: url('images/icons/icn-tick-circle-thin-dark.svg');
}

.e-icon--report-grey{
    background-image: url('images/icons/icn-report-grey.svg');
}

.e-icon--report-dark {
    background-image: url('images/icons/icn-report-dark.svg');
}

.e-icon--duplicate-line-dark {
    background-image: url('images/icons/icn_duplicate_line_dark.svg');
}

.e-icon--arrow-right-thin-dark {
    background-image: url('images/icons/icn_arrow_right_thin_dark.svg');
}

.e-icon--arrow-down-thin-dark {
    background-image: url('images/icons/icn_arrow_down_thin_dark.svg');
}

.e-icon--tool-grey {
    background-image: url('images/icons/icon-tool-grey.svg');
}

.e-icon--tool-dark {
    background-image: url('images/icons/icon-tool-dark.svg');
}

.e-icon--writerid-line-dark{
    background-image: url('images/icons/icn_writerid_line_dark.svg');
}

.e-icon--folder-grey{
    background-image: url('images/icons/icon-folder-grey.svg');
}

.e-icon--four-state{
    background-image: url('images/icons/icn_4_state.svg');
}

.e-icon--giveback-line-dark{
    background-image: url('images/icons/icn_giveback_line_dark.svg');
}

.e-icon--tick-circle-thin-green{
    background-image: url('images/icons/icn_tick_circle_thin_green.svg');
}

.e-icon--faq-circle-thin-line-orange{
    background-image: url('images/icons/icn_faq_circle_thin_line_orange.svg');
}

.e-icon--delete-line-red{
    background-image: url('images/icons/icn_delete_line_red.svg');
}

.e-icon--newhotel-blue {
    background-image: url('images/icons/icn_newhotel_blue.svg');
}

.e-icon--download-light{
    background-image: url('images/icons/icn_download_light.svg');
}

.e-icon--download-dark{
    background-image: url('images/icons/icn_download_dark.svg');
}

.e-icon--download-line-dark{
    background-image: url('images/icons/icn_download_line_dark.svg');
}

.e-icon--direction-top{
    background-image: url('images/icons/icn_direction_top.svg');
}

.e-icon--direction-down{
    background-image: url('images/icons/icn_direction_down.svg');
}

.e-icon--direction-top-grey{
    background-image: url('images/icons/icn_direction_top_grey.svg');
}
