$nWhite: #fff;
$nWhiteOpacity: rgba(255, 255, 255, .3);
$nOrange: #f0ad4e;
$nGreen: #5cb85c;
$nRed: #d9534f;
$nBlue: #5bc0de;
$nDarkBlue: #337ab7;
$nGrey: rgba(0, 0, 0, .3);
/* Put your css in here */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none;
}

ng\:form {
    display: block;
}

.ng-animate-block-transitions {
    transition: 0s all;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active,
.ng-hide-remove {
    display: block;
}

/**
 * angular-ui-notification - Angular.js service providing simple notifications using Bootstrap 3 styles with css transitions for animating
 * @author Alex_Crack
 * @version v0.1.0
 * @link https://github.com/alexcrack/angular-ui-notification
 * @license MIT
 */
.ui-notification {
    background: $nDarkBlue;
    border-radius: 0;
    box-shadow: 5px 5px 10px $nGrey;
    color: $nWhite;
    cursor: pointer;
    position: fixed;
    transition: all ease .5s;
    width: 300px;
    z-index: 9999;

    > h3 {
        border-bottom: 1px solid $nWhiteOpacity;
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin: 10px 10px 0;
        padding: 0 0 5px;
        text-align: left;
    }

    a {
        color: $nWhite;

        &:hover {
            text-decoration: underline;
        }
    }

    > .message {
        margin: 10px;
    }

    &.warning {
        background: $nOrange;
        color: $nWhite;
    }

    &.error {
        background: $nRed;
        color: $nWhite;
    }

    &.success {
        background: $nGreen;
        color: $nWhite;
    }

    &.info {
        background: $nBlue;
        color: $nWhite;
    }

    &:hover {
        opacity: .7;
    }

    &.killed {
        opacity: 0;
        transition: opacity ease 1s;
    }
}
