.e-percentage-box--container,
.e-percentage-box--container-deal {
    width: 84px;
}

.e-percentage-box--container {
    background: $trv-maincolor-01-lightest;
}

.e-percentage-box--container-deal {
    background: $trv-maincolor-05-lighter;
    color: $trv-maincolor-05-dark;
}

.e-percentage-box--percent {
    height: 48px;
}

.e-percentage-box--link,
.e-percentage-box--link-deal {
    color: $white;
    height: 24px;
}

.e-percentage-box--link {
    background: $trv-maincolor-01-light;
}

.e-percentage-box--link-deal {
    background: $trv-maincolor-05-dark;
}
