.progress {
    border-radius: $border-radius * 2;
    height: 8px;
}

.progress-bar {
    border-radius: $border-radius * 2;
    min-width: 8px;
}

.progress-percentage {
    width: 36px;
}
