.e-table-like {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
    max-width: 100%;
    width: 100%;
}

.e-table-like--header {
    @include rem(font-size, $font-size-3xs);
    background: $trv-maincolor-04-light;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: $white;
    font-weight: normal;
    padding: $gutter-three-quarters;
    text-align: left;
    vertical-align: bottom;
}

.e-table-like--item {
    @include rem(font-size, $font-size-3xs);
    color: $trv-maincolor-04;
    padding: $gutter-three-quarters;
    vertical-align: top;
}

.e-table-like--item-odd {
    @extend .e-table-like--item;
    background: $background-light;
}

.e-table-like--item-even {
    @extend .e-table-like--item;
    background: transparent;
}
