.e-table {
    tr,
    th,
    td {
        @include rem(font-size, $font-size-xxs);
    }
}

.e-table--box {
    margin: -1px -15px;
}

.e-table-simple {
    tbody {
        tr {
            background-color: $white;

            &:hover {
                background-color: $trv-maincolor-04-lightest;
            }
        }
    }
}

.e-table-simple--tr {
    &:hover {
        .e-icon--edit {
            opacity: 1;
        }
    }
}

.e-table-fixed {
    table-layout: fixed;
}