.e-tooltip {
    position: relative;

    &:hover {
        .e-tooltip--body {
            display: block;
        }
    }
}

.e-tooltip--body {
    background: $trv-maincolor-04-dark;
    border-radius: $border-radius;
    bottom: 100%;
    color: $white;
    display: none;
    font-size: $font-size-3xs;
    left: 50%;
    margin-bottom: $gutter-half;
    max-width: 200px;
    opacity: .9;
    padding: $gutter-quarter $gutter-half;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;

    &::before {
        border-color: $trv-maincolor-04-dark transparent transparent;
        border-style: solid;
        border-width: $gutter-half $gutter-half 0;
        bottom: -8px;
        content: '';
        left: 50%;
        margin-left: -$gutter-half;
        position: absolute;
    }
}

.tooltip-wrapper {
    position: absolute;
    width: 267px;
    z-index: 4;
    &--leading-center {
        margin-right: 4px;
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
        .tooltip {
            float: right;
            &:before {
                top: 50%;
                transform: rotate(-90deg) translateX(25%);    
                right: -12px;
                left: auto;
            }
        }
    }
}

.tooltip {
    background-color: rgba(41,51,57,.9);
    border-radius: 2px;
    bottom: auto;
    display: none;
    left: auto;
    line-height: 1;
    max-width: 267px;
    position: relative;
    width: auto;
    &:before {
        border-top: 8px solid rgba(41,51,57,.9);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -8px;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        width: 0;
    }
}

.tooltip,
.tooltip__body {
    padding: 8px;
}

.has-tooltip {
    position: relative;
    &.active .tooltip,
    &:active .tooltip,
    &:focus .tooltip,
    &:hover .tooltip {
        display: inline-block;
    }
}
