.d-form-validation {
    position: relative;

    .is-invalid ~ [name] {
        background-color: $trv-maincolor-03-lightest;
        border-color: $trv-maincolor-03;
    }

    .is-invalid ~ .error-hint{
        display: block;
    }
}

input.is-invalid,
select.is-invalid{
    background-color: $trv-maincolor-03-lightest;
    border-color: $trv-maincolor-03;
}

.d-form-validation--message {
    @extend .error-hint;
    display: none;
    left: 0;
    margin-top: -15px;
}

.error-hint::before {
    height: 9px;
}
