/*
 * # Background colors on viewport's full width
 * Write demanded selectors into this mixin.
 */

@mixin bg-fullwidth($color) {
    background-color: $color;

    /*
     * ## If headline is inside of colored ".trv-maincolor-XX" show it in this specific color.
     */
    /* Color for fonts */
    .tablelist-item .h4 {
        color: $color;
    }

    /* Background Color */
    .tablelist:after {
        background-color: $color;
    }
}
