/**
 * @description
 * Background-image on full width and fixed height
 *
 * @author kdrechsler
 *
 * @example
 *   .selector {
 *       @include background-img-fullwidth(480px);
 *   }
 */

@mixin bg-fullwidth-img($container-height) {
    min-height: $container-height;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
