<header class="u-margin-bottom--one-plus-half">
    <h1 class="u-display--inline-block u-padding-right u-font-size--l u-font-color--04-lighter">
        {{ cViewsHeader.title }}
    </h1>
    <button
        class="
            views-header--button
            u-background--04-lightest
            u-font-size--3xs
            u-font-color--04-lighter
        "
        type="button"
        data-enabled
        ng-click="cViewsHeader.onClick()"
        ng-if="!cViewsHeader.hideButton"
    >
        {{ cViewsHeader.helpButton }}
    </button>
</header>
