.c-spinner {
    animation: spin 1s linear infinite;
    border: 5px solid $trv-maincolor-04-very-light;
    border-radius: 50%;
    border-top: 5px solid $trv-maincolor-04-lighter;
    bottom: 40px;
    height: 40px;
    position: fixed;
    right: 40px;
    width: 40px;
    z-index: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
