<div class="
    u-container
    u-padding-right--doubled
    u-padding-left--doubled
    u-padding-top--triple
    u-text-align--center
">
    <p class="
        u-font-color--01
        u-font-size--xl
        u-margin-bottom
    ">
        {{ vError503.i18n['oops.a.503.error'] }}
    </p>

    <p class="u-margin-bottom--triple">
        <svg width="548px" height="282px" viewBox="0 0 548 282" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
            <title>Group</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="URLway-offline-V2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Offline-URLway-UI-Desktop" transform="translate(-201.000000, -278.000000)" fill="#007FAD">
                    <g id="Group" transform="translate(201.000000, 278.000000)">
                        <g id="Outer-walls">
                            <rect id="Rectangle-22" x="16" y="0" width="532" height="2"></rect>
                            <rect id="Rectangle-23" x="0" y="2" width="2" height="278"></rect>
                            <rect id="Rectangle-22" x="0" y="280" width="534" height="2"></rect>
                            <rect id="Rectangle-23" x="546" y="2" width="2" height="278"></rect>
                        </g>
                        <g id="Offline-wording" transform="translate(98.000000, 98.000000)">
                            <rect id="Rectangle-24" x="292" y="0" width="2" height="84"></rect>
                            <rect id="Rectangle-44" x="250" y="0" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="250" y="84" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="224" y="0" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="224" y="28" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="224" y="14" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="224" y="30" width="2" height="54"></rect>
                            <rect id="Rectangle-44" x="224" y="2" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="238" y="2" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="166" y="0" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="196" y="40" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="166" y="84" width="46" height="2"></rect>
                            <rect id="Rectangle-44" x="180" y="70" width="30" height="2"></rect>
                            <rect id="Rectangle-44" x="112" y="0" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="14" y="14" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="14" y="70" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="0" y="2" width="2" height="82"></rect>
                            <rect id="Rectangle-44" x="42" y="0" width="2" height="86"></rect>
                            <rect id="Rectangle-44" x="56" y="2" width="2" height="82"></rect>
                            <rect id="Rectangle-44" x="56" y="0" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="72" y="14" width="26" height="2"></rect>
                            <rect id="Rectangle-44" x="72" y="28" width="24" height="2"></rect>
                            <rect id="Rectangle-44" x="72" y="42" width="24" height="2"></rect>
                            <rect id="Rectangle-44" x="70" y="42" width="2" height="42"></rect>
                            <rect id="Rectangle-44" x="56" y="84" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="14" y="16" width="2" height="54"></rect>
                            <rect id="Rectangle-44" x="28" y="16" width="2" height="54"></rect>
                            <rect id="Rectangle-44" x="322" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="224" y="84" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="322" y="28" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="322" y="16" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="378" y="16" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="392" y="28" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="406" y="44" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="406" y="72" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="406" y="114" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="378" y="44" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="420" y="56" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="420" y="84" width="2" height="44"></rect>
                            <rect id="Rectangle-44" x="434" y="56" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="434" y="98" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="350" y="42" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="322" y="44" width="2" height="26"></rect>
                            <rect id="Rectangle-44" x="322" y="70" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="306" y="0" width="2" height="84"></rect>
                            <rect id="Rectangle-44" x="306" y="84" width="44" height="2"></rect>
                            <rect id="Rectangle-44" x="334" y="30" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="264" y="14" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="308" y="0" width="44" height="2"></rect>
                            <rect id="Rectangle-44" x="364" y="0" width="44" height="2"></rect>
                            <rect id="Rectangle-44" x="322" y="14" width="30" height="2"></rect>
                            <rect id="Rectangle-44" x="366" y="28" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="352" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="378" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="364" y="56" width="44" height="2"></rect>
                            <rect id="Rectangle-44" x="352" y="70" width="56" height="2"></rect>
                            <rect id="Rectangle-44" x="394" y="84" width="26" height="2"></rect>
                            <rect id="Rectangle-44" x="350" y="98" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="380" y="98" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="392" y="112" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="364" y="84" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="406" y="42" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="436" y="70" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="422" y="84" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="434" y="98" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="422" y="126" width="14" height="2"></rect>
                            <rect id="Rectangle-24" x="350" y="70" width="2" height="16"></rect>
                            <rect id="Rectangle-24" x="378" y="70" width="2" height="44"></rect>
                            <rect id="Rectangle-24" x="350" y="100" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="250" y="0" width="2" height="84"></rect>
                            <rect id="Rectangle-24" x="264" y="14" width="2" height="70"></rect>
                            <rect id="Rectangle-24" x="278" y="14" width="2" height="70"></rect>
                            <rect id="Rectangle-44" x="278" y="84" width="16" height="2"></rect>
                            <rect id="Rectangle-24" x="210" y="70" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="238" y="29.9038086" width="2" height="54"></rect>
                            <rect id="Rectangle-24" x="166" y="0" width="2" height="84"></rect>
                            <rect id="Rectangle-24" x="180" y="2" width="2" height="68"></rect>
                            <rect id="Rectangle-24" x="70" y="14" width="2" height="16"></rect>
                            <rect id="Rectangle-24" x="98" y="0" width="2" height="16"></rect>
                            <rect id="Rectangle-24" x="96" y="28" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="112" y="0" width="2" height="84"></rect>
                            <rect id="Rectangle-44" x="128" y="14" width="24" height="2"></rect>
                            <rect id="Rectangle-44" x="128" y="28" width="24" height="2"></rect>
                            <rect id="Rectangle-44" x="128" y="42" width="24" height="2"></rect>
                            <rect id="Rectangle-44" x="126" y="42" width="2" height="42"></rect>
                            <rect id="Rectangle-44" x="112" y="84" width="16" height="2"></rect>
                            <rect id="Rectangle-24" x="126" y="14" width="2" height="16"></rect>
                            <rect id="Rectangle-24" x="152" y="0" width="2" height="16"></rect>
                            <rect id="Rectangle-24" x="152" y="28" width="2" height="16"></rect>
                            <rect id="Rectangle-24" x="350" y="2" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="0" y="0" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="0" y="84" width="42" height="2"></rect>
                            <rect id="Rectangle-3" x="0" y="98" width="28" height="2"></rect>
                            <rect id="Rectangle-3" x="14" y="140" width="28" height="2"></rect>
                            <rect id="Rectangle-3" x="28" y="168" width="16" height="2"></rect>
                            <rect id="Rectangle-3" x="30" y="112" width="56" height="2"></rect>
                        </g>
                        <rect id="Rectangle-2" x="14" y="0" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="14" y="56" width="2" height="30"></rect>
                        <rect id="Rectangle-2" x="14" y="112" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="0" y="28" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="14" y="41" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="0" y="84" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="14" y="126" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="30" y="154" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="30" y="182" width="40" height="2"></rect>
                        <rect id="Rectangle-3" x="14" y="210" width="44" height="2"></rect>
                        <rect id="Rectangle-3" x="28" y="224" width="72" height="2"></rect>
                        <rect id="Rectangle-3" x="72" y="210" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="114" y="224" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="142" y="224" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="182" y="182" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="184" y="196" width="42" height="2"></rect>
                        <rect id="Rectangle-3" x="156" y="266" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="140" y="252" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="198" y="210" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="226" y="210" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="282" y="196" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="310" y="196" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="268" y="210" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="238" y="196" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="184" y="252" width="42" height="2"></rect>
                        <rect id="Rectangle-3" x="280" y="238" width="42" height="2"></rect>
                        <rect id="Rectangle-3" x="224" y="266" width="42" height="2"></rect>
                        <rect id="Rectangle-3" x="280" y="266" width="42" height="2"></rect>
                        <rect id="Rectangle-3" x="338" y="266" width="70" height="2"></rect>
                        <rect id="Rectangle-3" x="336" y="238" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="349" y="252" width="59" height="2"></rect>
                        <rect id="Rectangle-3" x="336" y="224" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="380" y="224" width="126" height="2"></rect>
                        <rect id="Rectangle-3" x="352" y="210" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="406" y="196" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="392" y="210" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="392" y="182" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="422" y="238" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="462" y="238" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="506" y="238" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="450" y="252" width="12" height="2"></rect>
                        <rect id="Rectangle-3" x="492" y="266" width="42" height="2"></rect>
                        <rect id="Rectangle-3" x="434" y="266" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="434" y="210" width="44" height="2"></rect>
                        <rect id="Rectangle-3" x="352" y="196" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="238" y="252" width="72" height="2"></rect>
                        <rect id="Rectangle-3" x="324" y="210" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="210" y="224" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="56" y="196" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="30" y="56" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="14" y="98" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="14" y="140" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="57" y="140" width="29" height="2"></rect>
                        <rect id="Rectangle-3" x="2" y="154" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="2" y="196" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="30" y="238" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="100" y="266" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="70" y="238" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="70" y="252" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="16" y="252" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="28" y="266" width="58" height="2"></rect>
                        <rect id="Rectangle-3" x="14" y="156" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="14" y="182" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="28" y="196" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="56" y="226" width="2" height="28"></rect>
                        <rect id="Rectangle-3" x="28" y="238" width="2" height="16"></rect>
                        <rect id="Rectangle-3" x="42" y="252" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="28" y="268" width="2" height="12"></rect>
                        <rect id="Rectangle-3" x="56" y="196" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="70" y="210" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="70" y="238" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="98" y="254" width="2" height="26"></rect>
                        <rect id="Rectangle-3" x="56" y="140" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="42" y="168" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="112" y="184" width="2" height="12"></rect>
                        <rect id="Rectangle-3" x="140" y="184" width="2" height="12"></rect>
                        <rect id="Rectangle-3" x="140" y="184" width="2" height="12"></rect>
                        <rect id="Rectangle-3" x="126" y="196" width="2" height="16"></rect>
                        <rect id="Rectangle-3" x="112" y="210" width="2" height="44"></rect>
                        <rect id="Rectangle-3" x="126" y="240" width="2" height="26"></rect>
                        <rect id="Rectangle-3" x="154" y="236" width="2" height="44"></rect>
                        <rect id="Rectangle-3" x="154" y="196" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="210" y="210" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="280" y="224" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="308" y="238" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="336" y="238" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="336" y="184" width="2" height="26"></rect>
                        <rect id="Rectangle-3" x="252" y="154" width="2" height="86"></rect>
                        <rect id="Rectangle-3" x="266" y="210" width="2" height="42"></rect>
                        <rect id="Rectangle-3" x="196" y="154" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="224" y="198" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="294" y="184" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="168" y="226" width="2" height="28"></rect>
                        <rect id="Rectangle-3" x="196" y="210" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="182" y="154" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="196" y="254" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="210" y="238" width="2" height="42"></rect>
                        <rect id="Rectangle-3" x="280" y="252" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="238" y="266" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="322" y="266" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="238" y="238" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="238" y="212" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="294" y="210" width="2" height="28"></rect>
                        <rect id="Rectangle-3" x="322" y="210" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="280" y="196" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="308" y="196" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="378" y="196" width="2" height="44"></rect>
                        <rect id="Rectangle-3" x="364" y="226" width="2" height="28"></rect>
                        <rect id="Rectangle-3" x="392" y="238" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="476" y="238" width="2" height="42"></rect>
                        <rect id="Rectangle-3" x="448" y="226" width="2" height="28"></rect>
                        <rect id="Rectangle-3" x="504" y="226" width="2" height="54"></rect>
                        <rect id="Rectangle-3" x="392" y="196" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="434" y="184" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="420" y="210" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="434" y="240" width="2" height="26"></rect>
                        <rect id="Rectangle-3" x="406" y="226" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="420" y="238" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="462" y="252" width="2" height="16"></rect>
                        <rect id="Rectangle-3" x="490" y="252" width="2" height="16"></rect>
                        <rect id="Rectangle-3" x="518" y="250" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="350" y="196" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="238" y="154" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="98" y="226" width="2" height="14"></rect>
                        <rect id="Rectangle-3" x="140" y="212" width="2" height="28"></rect>
                        <rect id="Rectangle-3" x="182" y="196" width="2" height="58"></rect>
                        <rect id="Rectangle-3" x="14" y="212" width="2" height="56"></rect>
                        <rect id="Rectangle-3" x="70" y="154" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="84" y="142" width="2" height="54"></rect>
                        <rect id="Rectangle-3" x="42" y="84" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="42" y="28" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="84" y="56" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="71" y="84" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="56" y="98" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="56" y="126" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="44" y="112" width="40" height="2"></rect>
                        <rect id="Rectangle-3" x="84" y="28" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="100" y="42" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="100" y="70" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="112" y="84" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="113" y="56" width="41" height="2"></rect>
                        <rect id="Rectangle-3" x="42" y="42" width="44" height="2"></rect>
                        <rect id="Rectangle-2" x="28" y="14" width="2" height="100"></rect>
                        <rect id="Rectangle-2" x="28" y="140" width="2" height="44"></rect>
                        <rect id="Rectangle-3" x="70" y="14" width="44" height="2"></rect>
                        <rect id="Rectangle-2" x="112" y="16" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="196" y="0" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="238" y="28" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="280" y="0" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="308" y="0" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="350" y="0" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="378" y="0" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="462" y="0" width="2" height="44"></rect>
                        <rect id="Rectangle-2" x="462" y="56" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="490" y="56" width="2" height="44"></rect>
                        <rect id="Rectangle-2" x="434" y="0" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="504" y="16" width="2" height="41"></rect>
                        <rect id="Rectangle-2" x="518" y="72" width="2" height="41"></rect>
                        <rect id="Rectangle-2" x="462" y="100" width="2" height="41"></rect>
                        <rect id="Rectangle-2" x="532" y="42" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="448" y="14" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="434" y="42" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="518" y="30" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="532" y="16" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="476" y="28" width="2" height="30"></rect>
                        <rect id="Rectangle-2" x="448" y="44" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="490" y="0" width="2" height="44"></rect>
                        <rect id="Rectangle-2" x="392" y="14" width="2" height="44"></rect>
                        <rect id="Rectangle-2" x="406" y="0" width="2" height="42"></rect>
                        <rect id="Rectangle-2" x="420" y="28" width="2" height="58"></rect>
                        <rect id="Rectangle-2" x="294" y="14" width="2" height="30"></rect>
                        <rect id="Rectangle-2" x="336" y="14" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="294" y="58" width="2" height="26"></rect>
                        <rect id="Rectangle-2" x="308" y="100" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="264" y="84" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="294" y="100" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="294" y="140" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="308" y="128" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="336" y="42" width="2" height="72"></rect>
                        <rect id="Rectangle-2" x="322" y="28" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="350" y="30" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="378" y="42" width="2" height="30"></rect>
                        <rect id="Rectangle-2" x="392" y="72" width="2" height="12"></rect>
                        <rect id="Rectangle-2" x="406" y="72" width="2" height="12"></rect>
                        <rect id="Rectangle-2" x="364" y="42" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="308" y="42" width="2" height="30"></rect>
                        <rect id="Rectangle-2" x="266" y="0" width="2" height="56"></rect>
                        <rect id="Rectangle-2" x="280" y="42" width="2" height="30"></rect>
                        <rect id="Rectangle-2" x="238" y="70" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="252" y="70" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="252" y="16" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="210" y="44" width="2" height="42"></rect>
                        <rect id="Rectangle-2" x="223" y="56" width="2" height="42"></rect>
                        <rect id="Rectangle-2" x="196" y="30" width="2" height="69"></rect>
                        <rect id="Rectangle-2" x="126" y="16" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="98" y="30" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="98" y="84" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="84" y="43" width="2" height="43"></rect>
                        <rect id="Rectangle-2" x="112" y="44" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="98" y="58" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="140" y="42" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="126" y="58" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="138" y="70" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="112" y="72" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="125" y="84" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="182" y="42" width="2" height="30"></rect>
                        <rect id="Rectangle-2" x="154" y="68" width="2" height="30"></rect>
                        <rect id="Rectangle-3" x="126" y="14" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="140" y="28" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="168" y="56" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="184" y="70" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="224" y="56" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="254" y="70" width="26" height="2"></rect>
                        <rect id="Rectangle-3" x="210" y="42" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="168" y="84" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="138" y="68" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="170" y="42" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="114" y="28" width="14" height="2"></rect>
                        <rect id="Rectangle-2" x="154" y="0" width="2" height="58"></rect>
                        <rect id="Rectangle-2" x="168" y="16" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="168" y="70" width="2" height="16"></rect>
                        <rect id="Rectangle-2" x="182" y="84" width="2" height="16"></rect>
                        <rect id="Rectangle-3" x="168" y="14" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="210" y="14" width="44" height="2"></rect>
                        <rect id="Rectangle-3" x="182" y="28" width="44" height="2"></rect>
                        <rect id="Rectangle-3" x="267" y="28" width="57" height="2"></rect>
                        <rect id="Rectangle-3" x="265" y="84" width="57" height="2"></rect>
                        <rect id="Rectangle-3" x="294" y="98" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="238" y="84" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="308" y="14" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="308" y="56" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="338" y="56" width="28" height="2"></rect>
                        <rect id="Rectangle-3" x="364" y="70" width="58" height="2"></rect>
                        <rect id="Rectangle-3" x="322" y="42" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="322" y="70" width="30" height="2"></rect>
                        <rect id="Rectangle-3" x="350" y="84" width="44" height="2"></rect>
                        <rect id="Rectangle-3" x="422" y="84" width="56" height="2"></rect>
                        <rect id="Rectangle-3" x="296" y="42" width="12" height="2"></rect>
                        <rect id="Rectangle-3" x="282" y="56" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="364" y="14" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="366" y="42" width="12" height="2"></rect>
                        <rect id="Rectangle-3" x="336" y="28" width="58" height="2"></rect>
                        <rect id="Rectangle-3" x="406" y="14" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="394" y="56" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="434" y="70" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="448" y="42" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="422" y="56" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="422" y="28" width="26" height="2"></rect>
                        <rect id="Rectangle-3" x="462" y="14" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="476" y="70" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="476" y="70" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="492" y="84" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="476" y="112" width="58" height="2"></rect>
                        <rect id="Rectangle-3" x="520" y="84" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="532" y="98" width="14" height="2"></rect>
                        <rect id="Rectangle-3" x="504" y="126" width="42" height="2"></rect>
                        <rect id="Rectangle-3" x="504" y="70" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="532" y="70" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="518" y="28" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="534" y="42" width="12" height="2"></rect>
                        <rect id="Rectangle-3" x="490" y="56" width="44" height="2"></rect>
                        <rect id="Rectangle-3" x="462" y="56" width="16" height="2"></rect>
                        <rect id="Rectangle-3" x="504" y="14" width="30" height="2"></rect>
                        <rect id="Rectangle-2" x="56" y="14" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="42" y="58" width="2" height="14"></rect>
                        <rect id="Rectangle-2" x="42" y="86" width="2" height="56"></rect>
                        <rect id="Rectangle-2" x="70" y="16" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="70" y="16" width="2" height="28"></rect>
                        <rect id="Rectangle-2" x="70" y="56" width="2" height="44"></rect>
                        <rect id="Rectangle-2" x="56" y="42" width="2" height="44"></rect>
                        <rect id="Rectangle-2" x="42" y="0" width="2" height="28"></rect>
                    </g>
                </g>
            </g>
        </svg>
    </p>
    <p class="u-font-color--04-light">{{ vError503.i18n['oops.a.503.error.title2'] }}</p>
    <p class="u-font-color--04-light u-margin-bottom--one-plus-half">{{ vError503.i18n['oops.a.503.error.title3'] }}</p>
</div>
