<c-header></c-header>
<c-notifications></c-notifications>
<c-push-notifications></c-push-notifications>
<div class="u-padding--doubled-zero u-background--04-lightest">
    <ui-view></ui-view>
</div>
<c-footer></c-footer>
<c-spinner></c-spinner>
