<!doctype html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="utf-8">
        <title>app</title>
        <link rel="shortcut icon" href="https://angular.io/favicon.ico">
        <base href="/">
    </head>
    <body id="top" ng-cloak class="u-background--04-lightest">
        <c-app></c-app>
        <script>
            window.globalConfig = window.globalConfig || {};
            window.globalConfig.lang = 'uk';
            window.globalConfig.env = '{%# o.htmlWebpackPlugin.options.env %}';
            window.globalConfig.i18n = {%# o.htmlWebpackPlugin.options.language.enGB %}
            window.globalConfig.i18nCountries = {%# o.htmlWebpackPlugin.options.language.enGBcountries %}
            window.globalConfig.i18nLanguages = {%# o.htmlWebpackPlugin.options.language.enGBlanguages %}
        </script>
    </body>
</html>
