.u-background--white {
    background: $white;
}

.u-background--04 {
    background-color: $trv-maincolor-04;
}

$types: 5;

@while $types > 0 {
    .u-background--0#{$types} {
        background: map-get($colorList, _0#{$types});
    }

    @each $i in $colorTypes {
        .u-background--0#{$types}-#{$i}{
            background: map-get($colorList, _0#{$types}-#{$i});
        }
    }

    $types: $types - 1;
}
