$types: 5;
$side: bottom, left, right, top;

.u-border--tr-bottom {
    & > td {
        border-bottom: 1px solid $trv-maincolor-04-lightest;
    }
    & > td:first-child {
        border-bottom: none;
    }
}

.u-border--tr-bottom:last-child {
    td {
        border-bottom: none;
    }
}

.u-border--none {
    border: 0;
}

.u-border--top {
    border-top: solid 1px $trv-maincolor-04-very-light;
}

@while $types > 0 {
    .u-border--0#{$types} {
        border: 1px solid map-get($colorList, _0#{$types});
    }

    @each $i in $colorTypes {
        .u-border--0#{$types}-#{$i}{
            border: 1px solid map-get($colorList, _0#{$types}-#{$i});
        }
    }

    @each $j in $side {
        .u-border-#{$j}--0#{$types}{
            border-#{$j}: 1px solid map-get($colorList, _0#{$types});
        }

        @each $i in $colorTypes {
            .u-border-#{$j}--0#{$types}-#{$i}{
                border-#{$j}: 1px solid map-get($colorList, _0#{$types}-#{$i});
            }
        }
    }

    $types: $types - 1;
}

@each $i in $side {
    .u-border-#{$i}--none {
        border-#{$i}: 0;
    }
}
