$position-vertical: top, bottom;
$position-gorisontal: right, left;

.u-border-radius {
    border-radius: $border-radius;
}

.u-border-radius--4px {
    border-radius: 4px;
}

.u-border-radius--half {
    border-radius: 50%;
}

@each $i in $position-vertical {
    @each $j in $position-gorisontal{
        .u-border-radius--#{$i}-#{$j} {
            border-#{$i}-#{$j}-radius: $border-radius;
        }
    }
}
