$values: block, inline-block, inline;

.u-display--flex {
    display: flex;
}

.u-display--none {
    display: none;
}

.u-display--inline-block-reset {
    display: inline-block;
    margin-right: -4px;
}

.u-overflow-y--scroll {
    overflow-y: scroll;
}

@each $i in $values {
    .u-display--#{$i} {
        display: $i;
    }
}
