.u-font-size--xl{
    @include rem(font-size, $font-size-xl);
}

.u-font-size--l {
    @include rem(font-size, $font-size-l);
}

.u-font-size--m {
    @include rem(font-size, $font-size-m);
}

.u-font-size--s {
    @include rem(font-size, $font-size-s);
}

.u-font-size--xs {
    @include rem(font-size, $font-size-xs);
}

.u-font-size--xxs {
    @include rem(font-size, $font-size-xxs);
}

.u-font-size--3xs {
    @include rem(font-size, $font-size-3xs);
}

.u-font-size--4xs {
    @include rem(font-size, $font-size-4xs - 1);
}
