.u-grid--1of1 {
    width: 100%;
}

.u-grid--1of2 {
    width: 50%;
}

.u-grid--1of3 {
    width: 33.33333%;
}

.u-grid--2of3 {
    width: 66.66666%;
}

.u-grid--1of4 {
    width: 25%;
}

.u-grid--3of4 {
    width: 75%;
}

.u-grid--1of5 {
    width: 20%;
}

.u-grid--2of5 {
    width: 40%;
}

.u-grid--3of5 {
    width: 60%;
}

.u-grid--4of5 {
    width: 80%;
}

.u-grid--1of6 {
    width: 16.66666%;
}

.u-grid--1of8 {
    width: 12.5%;
}

.u-grid--4of6 {
    width: 66.66666%;
}

.u-grid--5of6 {
    width: 83.33333%;
}

.u-grid--1of9 {
    width: 10%;
}

.u-grid--9of9 {
    width: 90%;
}

.u-grid--1of10 {
    width: 10%;
}

.u-grid--2of18 {
    width: 11.111111%;
}

.u-grid--3of18 {
    width: 16.666666%;
}

.u-grid--7of18 {
    width: 38.888888%;
}
