.u-gutter--left{
    margin-left: $gutter;
}

.u-gutter--doubled {
    margin-left: $gutter-doubled;
    margin-right: $gutter-doubled;
}

.u-gutter--right-doubled {
    margin-right: $gutter-doubled;
}

.u-gutter--right-half {
    margin-right: $gutter-half;
}

.u-gutter--right-quarter {
    margin-right: $gutter-quarter;
}

.u-gutter--left-quarter {
    margin-left: $gutter-quarter;
}

.u-gutter--left-half {
    margin-left: $gutter-half;
}

.u-gutter--left-one-plus-half {
    margin-left: $gutter-one-plus-half;
}
