.u-layout--container {
    box-orient: horizontal;
    display: flex;
}

.u-layout--container-wrap {
    @extend .u-layout--container;
    flex-wrap: wrap;
}

.u-layout--ms-256px {
    -ms-flex: 0 256px;
}

.u-layout--column-0 {
    box-flex: 0;
}

.u-layout--column-1 {
    box-flex: 1;
}

.u-layout--column-2 {
    box-flex: 2;
}
