.u-line-height-0 {
    line-height: 0;
}

.u-line-height--small {
    line-height: $line-height-small;
}

.u-line-height--xl {
    line-height: $line-height-xl;
}

.u-line-height--xxl {
    line-height: $line-height-xxl;
}
