.u-margin-bottom--zero {
    margin-bottom: 0;
}

.u-margin-bottom {
    margin-bottom: $gutter;
}

@each $i in $sizeModifiers {
    .u-margin-bottom--#{$i}{
        margin-bottom: map-get($sizeList, $i);
    }
}

