$position: bottom, left, right, top;

.u-padding--zero {
    padding: 0;
}

.u-padding {
    padding: $gutter;
}

@each $i in $position {
    .u-padding-#{$i}--zero {
        padding-#{$i}: 0;
    }
}

@each $i in $sizeModifiers {
    .u-padding--#{$i}{
        padding: map-get($sizeList, $i);
    }

    .u-padding--zero-#{$i}{
        padding: 0 map-get($sizeList, $i);
    }

    .u-padding--#{$i}-zero{
        padding: map-get($sizeList, $i) 0;
    }
}

@each $i in $sizeModifiers {
    @each $j in $position {
        .u-padding-#{$j}--#{$i}{
            padding-#{$j}: map-get($sizeList, $i);
        }
    }
}

.u-padding-top {
    padding-top: $gutter;
}

.u-padding-right {
    padding-right: $gutter;
}

.u-padding-left {
    padding-left: $gutter;
}

.u-padding-bottom {
    padding-bottom: $gutter;
}
