.u-width--100 {
    width: 100%;
}

.u-width--12 {
    width: 12%;
}

.u-width--14 {
    width: 14%;
}

.u-width--18 {
    width: 18%;
}

.u-width--20 {
    width: 20%;
}

.u-width--50 {
    width: 50%;
}

.u-width--70 {
    width: 70%;
}

.u-width--40 {
    width: 40%;
}

.u-width--100 {
    width: 100%;
}

.u-width--20px {
    width: 20px;
}

.u-width--24px {
    width: 24px;
}

.u-width--100px {
    width: 100px;
}

.u-width--184px {
    width: 184px;
}

.u-width--256px {
    width: 256px;
}

.u-width--432px {
    width: 432px;
}

.u-width--512px {
    width: 512px;
}

.u-width--582px {
    width: 582px;
}

.u-width--704px {
    width: 704px;
}

.u-width--896px {
    width: 896px;
}

.u-width--992px {
    width: 992px;
}
