<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>app</title>
        <link rel="shortcut icon" href="https://angular.io/favicon.ico">
        {% if (o.htmlWebpackPlugin.options.production) { %}
            <style>
                ${CRITICAL_CSS}
            </style>
        {% } %}
        <base href="/">
    </head>

    <body>
        <div class="is-loading u-width--100 u-height--100">
            {%# o.htmlWebpackPlugin.options.googleTagManager %}
            <header class="u-visually-hidden" role="banner">
                <h1>app</h1>
            </header>
            <main class="u-center--both u-text-align--center u-width--100 u-height--100">
                <p class ="u-grid--1of3 u-padding u-background--white">
                    <a class="btn btn--primary u-display--block" href="/settings">Log-in</a>
                </p>
            </main>
        </div>
    </body>
</html>
