/*
 ## Background Colors
 */

.trv-black {
    background-color: $black;
}

.trv-white {
    background-color: $white;
}

.trv-maincolor-01 {
    background-color: $trv-maincolor-01;
}

.trv-maincolor-02 {
    background-color: $trv-maincolor-02;
}

.trv-maincolor-03 {
    background-color: $trv-maincolor-03;
}

.trv-maincolor-04 {
    background-color: $trv-maincolor-04;
}

.trv-maincolor-05 {
    background-color: $trv-maincolor-05;
}

/* Tint */
.trv-maincolor-01-light {
    background-color: $trv-maincolor-01-light;
}

.trv-maincolor-01-lighter {
    background-color: $trv-maincolor-01-lighter;
}

.trv-maincolor-01-very-light {
    background-color: $trv-maincolor-01-very-light;
}

.trv-maincolor-01-lightest {
    background-color: $trv-maincolor-01-lightest;
}

/* #2 Orange */
.trv-maincolor-02-light {
    background-color: $trv-maincolor-02-light;
}

.trv-maincolor-02-lighter {
    background-color: $trv-maincolor-02-lighter;
}

.trv-maincolor-02-very-light {
    background-color: $trv-maincolor-02-very-light;
}

.trv-maincolor-02-lightest {
    background-color: $trv-maincolor-02-lightest;
}

/* #3 Red */
.trv-maincolor-03-light {
    background-color: $trv-maincolor-03-light;
}

.trv-maincolor-03-lighter {
    background-color: $trv-maincolor-03-lighter;
}

.trv-maincolor-03-very-light {
    background-color: $trv-maincolor-03-very-light;
}

.trv-maincolor-03-lightest {
    background-color: $trv-maincolor-03-lightest;
}

/* #4 Juri Gray */
.trv-maincolor-04-light {
    background-color: $trv-maincolor-04-light;
}

.trv-maincolor-04-lighter {
    background-color: $trv-maincolor-04-lighter;
}

.trv-maincolor-04-very-light {
    background-color: $trv-maincolor-04-very-light;
}

.trv-maincolor-04-lightest {
    background-color: $trv-maincolor-04-lightest;
}

/* #5 Green */
.trv-maincolor-05-light {
    background-color: $trv-maincolor-05-light;
}

.trv-maincolor-05-lighter {
    background-color: $trv-maincolor-05-lighter;
}

.trv-maincolor-05-very-light {
    background-color: $trv-maincolor-05-very-light;
}

.trv-maincolor-05-lightest {
    background-color: $trv-maincolor-05-lightest;
}

/* Shade */
.trv-maincolor-01-dark {
    background-color: $trv-maincolor-01-dark;
}

.trv-maincolor-02-dark {
     background-color: $trv-maincolor-02-dark;

 }

.trv-maincolor-03-dark {
    background-color: $trv-maincolor-03-dark;
}

.trv-maincolor-04-dark {
    background-color: $trv-maincolor-04-dark;
}

.trv-maincolor-05-dark {
    background-color: $trv-maincolor-05-dark;
}

/*
 ## Font Colors
 */
.font-dark,
.gutter-box {
    color: $trv-maincolor-04;
}

.font-bright {
    color: $white;
}

.font-trv-maincolor-01 {
    color: $trv-maincolor-01;
}

.font-trv-maincolor-01-dark {
    color: $trv-maincolor-01-dark;
}

.font-trv-maincolor-02 {
    color: $trv-maincolor-02;
}

.font-trv-maincolor-02-dark {
    color: $trv-maincolor-02-dark;
}

.font-trv-maincolor-03 {
    color: $trv-maincolor-03;
}

.font-trv-maincolor-03-dark {
    color: $trv-maincolor-03-dark;
}

.font-trv-maincolor-04 {
    color: $trv-maincolor-04;
}

.font-trv-maincolor-04-light {
    color: $trv-maincolor-04-light;
}

.font-trv-maincolor-04-lighter {
    color: $trv-maincolor-04-lighter;
}

.font-trv-maincolor-04-dark {
    color: $trv-maincolor-04-dark;
}

.font-trv-maincolor-05 {
    color: $trv-maincolor-05;
}

.font-trv-maincolor-05-dark {
    color: $trv-maincolor-05-dark;
}


