/*
 * OOCSS
 * Repeating classes for everyday usage are written here.
 *
 * Don't forget to keep this file in sync with _oocss.md please!
 */

/*
 * # Backgrounds
 */
.bg-white {
    background: $white;
}

.bg-trv-maincolor-04-lightest {
    background: $trv-maincolor-04-lightest;
}

/* ## Transparency / Opacity */
.opacity-high {
    opacity: $opacity-high;
}

.opacity-medium {
    opacity: $opacity-medium;
}

.opacity-low {
    opacity: $opacity-low;
}

/*
 * # Typography
 */
/* ## Font Sizes */
.font-tiny {
    @include rem(font-size, $font-size-3xs);
    @include rem(line-height, 15px);
}

.font-small {
    @include rem(font-size, $font-size-xxs);
    @include rem(line-height, 14px);
}

.font-xxs {
    font-size: $font-size-xxs;
    line-height: $line-height-big;
}


/* ## Font Styles*/
.fs-normal {
    font-style: normal;
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.ellipsis {
    text-overflow: ellipsis;
}

.td-underline {
    text-decoration: underline;

    @include link-pseudos-hover {
        text-decoration: none;
    }
}

.td-none {
    text-decoration: none;
}

.td-underline--hover {
    text-decoration: none;

    @include link-pseudos-hover {
        text-decoration: underline;
    }
}

.td-none--hover {
    text-decoration: none;

    @include link-pseudos-hover {
        text-decoration: none;
    }
}

.cur-pointer--hover {
    @include link-pseudos-hover {
        cursor: pointer;
    }
}

.tt-uppercase {
    text-transform: uppercase;
}

.whs-nowrap {
    white-space: nowrap;
}

.whs-pre-wrap {
    white-space: pre-wrap;
}

.text-shadow-01 {
    text-shadow: $box-shadow;
}

/* ## Text Alignment */
.ta-leading {
    text-align: $leading;
}

.ta-trailing {
    text-align: $trailing;
}

.ta-center {
    text-align: center;
}

.hide-text {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999em;
}

/*
 * # Boxmodel
 */
/* ## Display */
.block,
.time {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

/* ## Widths */
.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

/* ## Heights */
.h-100 {
    height: 100%;
}

/* ## Overflows */
.ov-hidden {
    overflow: hidden;
}

.ovx-hidden {
    overflow-x: hidden;
}

.ovy-hidden {
    overflow-y: hidden;
}

/* ## Margins */
.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-gutter {
    margin-top: $gutter;
}

.mt-gutter-doubled {
    margin-top: ($gutter * 2);
}

.mt-gutter-quarter {
    margin-top: $gutter-quarter;
}

.mt-gutter-quadrupled {
    margin-top: ($gutter * 4);
}

.mb-gutter {
    margin-bottom: $gutter;
}

.mb-gutter-doubled {
    margin-bottom: $gutter-doubled;
}

.mb-gutter-half {
    margin-bottom: $gutter-half;
}

.mb-gutter-quarter {
    margin-bottom: $gutter-quarter;
}

.mb-gutter-three-quarters {
    margin-bottom: $gutter-three-quarters;
}

.mb-0 {
    margin-bottom: 0;
}

.m-0-auto {
    margin: 0 auto;
}

.m-0-gutter {
    margin: 0 $gutter;
}

.m-gutter-0 {
    margin: $gutter 0;
}

.mltr-auto {
    @include margin-leading(auto);
    @include margin-trailing(auto);
}

/* ## Paddings */
.p-0 {
    padding: 0;
}

.p-gutter {
    padding: $gutter;
}

.p-gutter-quarter {
    padding: ($gutter / 4);
}

.p-0-gutter {
    padding: 0 $gutter;
}

.p-0-gutter-doubled {
    padding: 0 ($gutter * 2);
}

.p-0-gutter-half {
    padding: 0 ($gutter / 2);
}

.p-0-gutter-quarter {
    padding: 0 ($gutter / 4);
}

.p-0-gutter-eighth {
    padding: 0 ($gutter / 8);
}

.p-gutter-0 {
    padding: $gutter 0;
}

.p-gutter-gutter-doubled {
    padding: $gutter ($gutter * 2);
}

.p-gutter-doubled-0 {
    padding: $gutter-doubled 0;
}

.p-gutter-half-0 {
    padding: $gutter-half 0;
}

.pt-0 {
    padding-top: 0;
}

.pl-0 {
    @include padding-leading(0);
}

.pt-gutter {
    padding-top: $gutter;
}

.pt-gutter-doubled {
    padding-top: $gutter * 2;
}

.pt-gutter-half {
    padding-top: $gutter / 2;
}

.pb-gutter {
    padding-bottom: $gutter;
}

.pb-gutter-doubled {
    padding-bottom: $gutter * 2;
}

.pb-gutter-half {
    padding-bottom: $gutter / 2;
}

.pltr-gutter {
    @include padding-trailing($gutter);
    @include padding-leading($gutter);
}

/* ### Padding for buttons:
 * Pretending the height of buttons on parent containers.
 * 1 button height = padding-top of .btn-wrapper + .btn's height + btn margin-top + btn margin-bottom + padding-bottom of .btn-wrapper.
 */
.pb-1-btn {
    padding-bottom: 88px;
}

.pb-2-btn {
    padding-bottom: 140px;
}

/* ### Reset default button's appearance */
.btn--reset {
    padding: 0;
    border: 0;
    background-color: transparent;
}

/*
 * # Center on X and Y axis
 */
.center-x {
    @include position-value(leading, 0);
}

/* Modern browsers besides IE8/9 */
.csstransforms3d {
    .center-x {
        @include center-x;
    }
}

.center-y {
    top: 0;
}

/* Modern browsers besides IE8/9 */
.csstransforms3d {
    .center-y {
        top: auto;
        @include center-y;
    }
}

.center-x-y {
    display: block;
    position: relative;
    top: 0;
    @include position-value(leading, 0);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

/* Modern browses besides IE8/9 */
.csstransforms3d {
    .center-x-y {
        top: 50%;
        @include position-value(leading, 50%);
    }
}

/*
 # Images
 */

/* image helpers */
.img-fluid {
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.img-rounded {
    border-radius: $border-radius;
}

/* ## Images inside copytext */
.copytext-image {
    display: block;
    margin: 0 auto $gutter;
}

/* ## Positioning */
.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.b-0 {
    bottom: 0;
}

/* ## Floats */
.fl-leading {
    @include float(leading);
}

.fl-trailing {
    @include float(trailing);
}

/* ## Create pseudo-elements */
.create-pseudo-before {
    &:before {
        content: '';
        position: absolute;
        display: block;
    }
}

.create-pseudo-after {
    &:after {
        content: '';
        position: absolute;
        display: block;
    }
}

/* ## Gutter box :: basic box styles e.g. for teasers */
.gutter-box {
    @include padding-trailing($gutter);
    @include padding-leading($gutter);

    .paragraph {
        padding: $gutter 0;
    }
}

/* ## Border Radius */
.border-radius {
    border-radius: $border-radius;
}

/* ## Box-shadows */
.box-shadow-01 {
    box-shadow: $box-shadow;
}

.box-shadow{
    box-shadow: $box-shadow-02;
}

/*
 * # Flexbox
 */
/* ## Flex parent */
.flex {
    @include flexbox;
}

.flex-wrap-wrap {
    @include flex-wrap(wrap);
}

.flex-direction-column {
    @include flex-direction(column);
}

/* ## Flex child */
.align-self-flex-end {
    @include align-self(flex-end);
}

/*
 * # Columns
 */
@include respond-to-min($screen-small) {
    .g1-column-count-2 {
        @include column-count;
        @include columns-gap($gutter);
    }
}

/* ## Columns - avoid column break */
.avoid-column-break {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;
    display: inline-block; /* Safari */
    width: 100%; /* Safari */
}


/* ## Equal height for .row > .col */
.row-equal-height {

    @include respond-to-min($screen-small) {
        @include flexbox;

        > .col {
            @include flexbox; /* repeat display: flexbox to stretch ".gutter-box" to 100% height */
            max-width: 100%; /* IE10 */

            > :first-child {
                @include flex; /* IE10 */
            }
        }
    }
}

/*
 * Borders
 */
.bb-trv-maincolor-04-lightest {
    border-bottom: 1px solid $trv-maincolor-04-lightest;
}
