<main>
    <article class="u-container u-padding--zero-doubled">
        <c-views-header xview="settings" xhidebutton="true"></c-views-header>
        <p class="u-margin-bottom--one-plus-half">
            {{ vSettings.i18n['_view.settings.message_'] }}
            <span class="u-font-weight--bold">{{ vSettings.i18n['all.fields.are.required'] }}</span>
        </p>

        <form
            name="vSettings.accountForm"
            novalidate
            d-form-validation
            xvalidate-on-submit="true"
            ng-submit="vSettings.submitAccountInfo()"
            autocomplete="off"
        >
            <fieldset class="u-margin-bottom--doubled">
                <legend class="u-margin-bottom--three-quarters u-font-size--m u-font-color--04-lighter">
                    {{ vSettings.i18n['account.info'] }}
                </legend>
                <fieldset>
                    <ul class="u-align--top">
                        <li class="u-grid--1of5 u-padding-right--half">
                            <label class="u-display--block">
                                {{ vSettings.i18n['first.name'] }}
                                <input
                                    class="e-input"
                                    name="firstName"
                                    type="text"
                                    ng-model="vSettings.currentData.user.firstName"
                                    data-validation="isEmpty, isWords"
                                >
                            </label>
                        </li>
                        <li class="u-grid--1of5 u-padding-right--half">
                            <label class="u-display--block">
                                {{ vSettings.i18n['last.name'] }}
                                <input
                                    class="e-input"
                                    name="lastName"
                                    type="text"
                                    ng-model="vSettings.currentData.user.lastName"
                                    data-validation="isEmpty, isWords"
                                >
                            </label>
                        </li>
                        <li class="u-grid--2of5 u-padding-right--half">
                            <label class="u-display--block">
                                {{ vSettings.i18n['street'] }}
                                <input
                                    class="e-input"
                                    name="street"
                                    type="text"
                                    ng-model="vSettings.currentData.user.street"
                                    data-validation="isEmpty"
                                >
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <ul class="u-align--top">
                        <li class="u-grid--1of5 u-padding-right--half">
                            <label class="u-display--block">
                                {{ vSettings.i18n['postal.code'] }}
                                <input
                                    class="e-input"
                                    name="postcode"
                                    type="text"
                                    ng-model="vSettings.currentData.user.postcode"
                                    data-validation="isEmpty"
                                >
                            </label>
                        </li>
                        <li class="u-grid--1of5 u-padding-right--half">
                            <label class="u-display--block">
                                {{ vSettings.i18n['city'] }}
                                <input
                                    class="e-input"
                                    name="city"
                                    type="text"
                                    ng-model="vSettings.currentData.user.city"
                                    data-validation="isEmpty, isWords"
                                >
                            </label>
                        </li>
                        <li class="u-grid--2of5 u-padding-right--half"></li>
                    </ul>
                </fieldset>
                <fieldset>
                    <ul class="u-align--top">
                        <li class="u-grid--1of5 u-padding-right--half">
                            <label class="u-display--block">
                                {{ vSettings.i18n['email.address'] }}
                                <input
                                    class="e-input"
                                    name="email"
                                    type="text"
                                    ng-model="vSettings.currentData.user.email"
                                    data-validation="isEmpty, isEmail"
                                >
                            </label>
                        </li>
                        <li class="u-grid--1of5 u-padding-right--half">
                            <label class="u-display--block">
                                {{ vSettings.i18n['password'] }}
                                <span class="u-display--block u-position--relative">
                                    <a
                                        class="e-input--icon e-icon--edit-line-dark"
                                        href="{{ vSettings.currentData.password.href }}"
                                        target="_blank"
                                    >
                                    </a>
                                    <input
                                        class="e-input"
                                        name="password"
                                        type="password"
                                        value="**************"
                                        disabled
                                    >
                                </span>
                            </label>
                        </li>
                        <li class="u-grid--1of5 u-padding-right--half"></li>
                        <li class="u-grid--1of5 u-padding-right--half"></li>
                    </ul>
                </fieldset>
                <button
                    class="btn btn--primary u-grid--1of6 u-font-size--xs"
                    type="submit"
                    d-submit-button-validation
                    data-enabled="true"
                    disabled
                >
                    {{ vSettings.i18n['save.account.info'] }}
                </button>
            </fieldset>
        </form>
    </article>
</main>
