/*
    VIEWPORTS

    $screen-phone: 320px;
    $screen-phone-wide: 360px;
    $screen-phablet: 412px;
    $screen-tablet: 480px;
    $screen-tablet-wide: 600px;
    $screen-tablet-wider: 720px;
    $screen-medium: 980px;


    AVAILABLE CLASSES

    Visible (inline, block, i-b)    Hidden              Hidden Lendscape
    -                               .h-phone            -
    .v-phone-wide-*                 .h-phone-wide       .h-l-phone-wide
    .v-phablet-*                    .h-phablet          .h-l-phablet
    .v-tablet-*                     .h-tablet           .h-l-tablet
    .v-tablet-wide-*                .h-tablet-wide      .h-l-tablet-wide
    .v-tablet-wider-*               .h-tablet-wider     .h-l-tablet-wider
    .v-screen-medium-*              .h-screen-medium    .h-l-screen-medium
*/

$vw: (
        phone-wide: $screen-phone-wide,
        phablet: $screen-phablet,
        tablet: $screen-tablet,
        tablet-wide: $screen-tablet-wide,
        tablet-wider: $screen-tablet-wider,
        screen-medium: $screen-medium
);

$display: inline, inline-block, block, none;

@each $vw-name, $vw-mq in $vw {
    @for $i from 1 through 4 {

        .v-#{$vw-name}-#{nth($display, $i)} {
            display: none !important;
        }

        @include respond-to-min($vw-mq){
            @if $i != 4 {
                .v-#{$vw-name}-#{nth($display, $i)} {
                    display: #{nth($display, $i)} !important;
                }
            } @else {
                .h-#{$vw-name} {
                    display: #{nth($display, $i)} !important;
                }
            }
        }
    }

    @media screen and (orientation: landscape) and (max-width: $vw-mq) {
        .h-l-#{$vw-name} {
            display: none !important;
        }
    }
}

// Mobile first, so by default we don't need the visible classes for mobile
@include respond-to-max($screen-phone - 1) {
    .hidden-phone {
        display: none!important;
    }
}
