/*
 * Mobile invisible
 */
.mobile-invisible {
    display: none !important;

    @include respond-to-min($screen-small) {
        display: block !important;
    }
}


// responsive helpers for grid
.g-block,
.g1-block,
.g2-block,
.g3-block {
    display: none !important;
}


.g-block {
    display: block !important;
}

@media (min-width: $screen-small) and (max-width: $screen-medium) {
    .g1-block {
        display: block !important;
    }
}

@media (min-width: $screen-medium) and (max-width: $screen-large) {
    .g2-block {
        display: block !important;
    }
}

@media (min-width: $screen-large)  {
    .g3-block {
        display: block !important;
    }
}

@media only screen and (min-width: $screen-small) {
    .g-block {display: none !important;}
    .g1-block {
        display: block !important;
    }
}

@media only screen and (min-width: $screen-medium) {
    .g-block, .g1-block {display: none !important;}
    .g2-block {
        display: block !important;
    }
}

@media only screen and (min-width: $screen-large) {
    .g-block, .g1-block, .g2-block {display: none !important;}
    .g3-block {
        display: block !important;
    }
}

/* for responsive menu */
@media only screen and (max-width: $screen-large) {

    //make header sticky
    .mobile-sticky {
        .header {
            position: fixed;
            top: 0;
            z-index: 100;
        }
    }
}


@media only screen and (min-width: $screen-large) {

    .mobile-hidden {
        display: block !important;
    }

    .mobile-hidden-flex{
        @include flexbox;
    }

    .mobile-only, .mobile-only-flex {
        display: none !important;
    }

}

@media only screen and (max-width: $screen-large) {

    .mobile-hidden, .mobile-hidden-flex {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }

    .mobile-only-flex{
        @include flexbox;
    }
}

.screen-small-hidden, .screen-small-hidden-flex, .screen-medium-visible, .screen-large-visible, .screen-extralarge-visible {
    display: none !important;
}

@include respond-to-min($screen-small){

    //mobile-first demands an element that has to be hidden on smallest screens, that it needs to be set to display none by default - it then shows up on bigger viewports from here on.
    .screen-small-hidden, .screen-medium-visible{
        display: block !important;
    }

    .screen-small-hidden-flex{
        @include flexbox;
    }
    //elements only to be visible on smallest screens get hidden here
    .screen-medium-hidden{
        display: none !important;
    }
}

@include respond-to-min($screen-medium){

    .screen-medium-hidden, .screen-large-visible{
        display: block !important;
    }

    .screen-medium-hidden-flex{
        @include flexbox;
    }

    .screen-large-hidden, .screen-medium-hidden{
        display: none !important;
    }
}

@include respond-to-min($screen-large){

    .screen-large-hidden, .screen-extralarge-visible{
        display: block !important;
    }

    .screen-large-hidden-flex, .screen-extralarge-visible-flex{
        @include flexbox;
    }

    .screen-extralarge-hidden, .screen-large-hidden, .screen-medium-hidden{
        display: none !important;
    }
}