<section class="
        c-notification
        u-layer--second
        u-position--relative
        u-width--100
        {{ cNotification.classes.hide }}
        {{ cNotification.classes.background }}
        {{ cNotification.classes.animation }}
    "
    role="alertdialog"
>
    <div class="
        c-notification--container
        u-position--relative
        u-container
        u-padding--zero-doubled
        u-padding-top--one-plus-half
        u-padding-bottom--one-plus-half"
    >
        <div class="c-notification--container u-grid--4of6">
            <h1 class="u-font-size--xs u-margin-bottom--half {{ cNotification.classes.title }}"
                ng-if="cNotification.notification.title"
            >
                {{ cNotification.notification.title }}
            </h1>
            <p class="u-font-size--xxs {{ cNotification.classes.description }}">
                {{ cNotification.notification.description }}
            </p>
        </div>
        <button
            class="
                c-notification--close
                e-button--link
                u-position--absolute
                u-margin-top--quarter
                {{ cNotification.classes.x }}
            "
            type="button"
            data-enabled
            ng-click="cNotification.closeNotification()"
        >
            <svg class="
                c-notification--icon
                u-vertical-align--middle"
                version="1.1"
                baseProfile="tiny"
                xmlns="http://www.w3.org/2000/svg"
                x="0"
                y="0"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                xml:space="preserve"
            >
                <path d="M14.5 12l3.2-3.2c0.4-0.4 0.4-1 0-1.4l-1.1-1.1C16.4 6.1 16.1 6 15.9 6c-0.3 0-0.5 0.1-0.7 0.3L12 9.5h0L8.8 6.3C8.6 6.1 8.4 6 8.1 6 7.9 6 7.6 6.1 7.4 6.3L6.3 7.4c-0.4 0.4-0.4 1 0 1.4L9.5 12l-3.2 3.2c-0.4 0.4-0.4 1 0 1.4l1.1 1.1C7.6 17.9 7.9 18 8.1 18c0.3 0 0.5-0.1 0.7-0.3l3.2-3.2h0l3.2 3.2c0.2 0.2 0.4 0.3 0.7 0.3 0.2 0 0.5-0.1 0.7-0.3l1.1-1.1c0.4-0.4 0.4-1 0-1.4L14.5 12z"></path>
            </svg>
            <span class="u-visually-hidden">{{ cNotification.i18n['close'] }}</span>
        </button>
    </div>
</section>
