/* ## Images */

/* images need to be set in built-config to avoid putting in hardcoded urls */
$icon-countryflags: layoutImageUrl("flags/locale/imagemap_all_flags_21.png") !default;
$icon-countryflags-2x: layoutImageUrl("flags/locale/imagemap_all_flags_21@2x.png") !default;

$qr-code-cn: layoutImageUrl("mars/qr_cn.gif");