// text direction declaration
//
// $leading           - Sets the leading value, `left` in LTR, `right` in RTL
// $trailing          - Sets the trailing value, `right` in LTR, `left` in RTL
// $dir               - Sets the dir value, `left` in LTR, `right` in RTL
//
// Styleguide settings.textdirection

/* text direction declaration */

/*
 * variables for for text-direction usage
 * leading is the value before an element, e.g. in
 * left-to-right a margin-left
 */

/* ==========================================================================
   text / layout direction variables
   ========================================================================== */
$leading: left;
$trailing: right;
$dir: ltr;