$gutter-triple: ($gutter * 3);
$gutter-quadruple: ($gutter * 4);
$gutter-thirtytwouple: ($gutter * 32);

$sizeModifiers: quadruple, triple, doubled, half, quarter, three-quarters, one-plus-half;
$sizeList: (
    triple: $gutter-triple,
    doubled: $gutter-doubled,
    half: $gutter-half,
    quarter: $gutter-quarter,
    one-plus-half: $gutter-one-plus-half,
    three-quarters: $gutter-three-quarters,
    quadruple: $gutter-quadruple
);
