// Tools
//
// Mixins & functions
//
// Styleguide tools

// animation
//
// Handles vendor prefixes for CSS `animation` property.
//
// ```
// @include animation($values, $val: null)
// ```
//
// Example usage
//
// ```
// @include animation(delay, 2s);
// @include animation(example 5s linear 2s infinite alternate);
// ```
//
// $values:          - If not creating an animation shorthand property, these are the animation values
// $val:             - If $values is filled with a proporty, $val will be the values
//
// Styleguide tools.animation

/*  @todo cr:
 *  this is confusing and might be better:
 *  animation($property: null, $values)
 *  will cause a breaking change
 */
@mixin animation($values, $val: null) {
    @if $val != null {
        -webkit-animation-#{$values}: #{$val};
        -moz-animation-#{$values}: #{$val};
        animation-#{$values}: #{$val};
    } @else {
        -webkit-animation: #{$values};
        -moz-animation: #{$values};
        animation: #{$values};
    }
}

// keyframes
//
// Handles vendor prefixes for CSS `keyframes` .
//
// ```
// @include keyframes($animation)
// ```
//
// Example usage
//
// ```
// @include keyframes(animation-name) {
//     25% {  ... }
//     75% { ... }
//     100% {  ...  }
// }
// ```
//
// $animation:          - Animation
//
// Styleguide tools.keyframes

@mixin keyframes($animation) {
    @-webkit-keyframes #{$animation} {
        @content;
    }
    @-moz-keyframes #{$animation} {
        @content;
    }
    @keyframes #{$animation} {
        @content;
    }
}

