// backface-visibility
//
// Handles vendor prefixes for CSS backface-visbility.
//
// ```
// @include backface-visibility($values)
// ```
//
// $values:          - value, e.g. hidden
//
// Styleguide tools.backface-visibility

@mixin backface-visibility ($values) {
    -webkit-backface-visibility: $values;
    backface-visibility: $values;
}
