// background-rgba
//
// Generates background rgba with background ie fallback, will output `background-color` with hex-value and `background-color` with rgba value
//
// ```
// @include background-rgba($color, $opacity: 0.5)
// ```
//
// $color:          - color hex code
// $opacity:        - opacity value
//
//
// Styleguide tools.background-rgba

@mixin background-rgba($color, $opacity: 0.5) {
    background-color: $color; /* fallback */
    background-color: rgba($color, $opacity);
}
