// button pseudos focus
//
// Generates background-color and border for focus and hover states for button
//
// ```
// @include button-pseudo-focus($focus-color, $hover-color)
// ```
//
// $focus-color:          - value used for focus
// $hover-color:          - value used for hover
//
// Styleguide tools.button-pseudo-focus

@mixin button-pseudo-focus($focus-color, $hover-color) {
    &:focus {
        background-color: $focus-color;
        border: 1px solid $focus-color;

        &:hover {
            background-color: $hover-color;
            border: 1px solid $hover-color;
        }
    }
}

// button pseudos
//
// Generates background-color and border for hover and active states for button
// Adds `.btn-disabled` class and produces disabled states for disabled button
//
// ```
// @include button-pseudos($hover-color, $focus-color, $disabled-color)
// ```
//
// $focus-color:          - value used for focus
// $hover-color:          - value used for hover
// $disabled-color:       - value used for disabled button and pseudo focus states
//
//
// Styleguide tools.button-pseudos

@mixin button-pseudos($hover-color, $focus-color, $disabled-color) {
    &:hover, &:active {
        background-color: $hover-color;
        border: 1px solid $hover-color;
    }

    @include button-pseudo-focus($focus-color, $hover-color);

    &.btn--disabled {
        border-color: $disabled-color;
        background-color: $disabled-color;

        @include button-pseudo-focus($disabled-color, $disabled-color);
    }
}

