// center-y
//
// Centers anything on y-axis
//
// ```
// @include center-y
// ```
//
// see <a href="http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/">Vertical align anything with just 3 lines of CSS</a>
//
// Styleguide tools.center-y

@mixin center-y {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}
