// center-x
//
// Centers anything on x-axis
//
// ```
// @include center-x
// ```
//
// see <a href="http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/">Vertical align anything with just 3 lines of CSS</a>
//
// Styleguide tools.center-x

@mixin center-x {
    position: relative;
    left: 50%;
    @include transform(translateX(-50%));
}
