// column-count
//
// Handles vendor prefixes for CSS column-count
//
// ```
// @include column-count($count: 2)
// ```
//
// $count:          - nr of columns
//
// Styleguide tools.column-count

@mixin column-count($count: 2) {
    -webkit-column-count: $count;
       -moz-column-count: $count;
            column-count: $count;
}

// column-width
//
// Handles vendor prefixes for CSS column-width
//
// ```
// @include column-width($column-width)
// ```
//
// $column-width:          - width of columns
//
// Styleguide tools.column-width

@mixin column-width($column-width) {
    -webkit-column-width: $column-width;
       -moz-column-width: $column-width;
            column-width: $column-width;
}

// columns
//
// Handles vendor prefixes for CSS column-count and column-width
//
// ```
// @include columns($column-count: 2, $column-width: 50%)
// ```
//
// $column-count:           - nr of columns
// $column-width:           - width of columns
//
// Styleguide tools.columns

@mixin columns($column-count: 2, $column-width: 50%) {
    -webkit-column-count: $column-count;
       -moz-column-count: $column-count;
            column-count: $column-count;
   -webkit-column-width: $column-width;
      -moz-column-width: $column-width;
           column-width: $column-width;
}

// column-gap
//
// Handles vendor prefixes for CSS column-gap
//
// ```
// @include columns-gap($columns-gap)
// ```
//
// $columns-gap:           - column gap
//
// Styleguide tools.column-gap

@mixin columns-gap($columns-gap) {
    -webkit-column-gap: $columns-gap;
       -moz-column-gap: $columns-gap;
            column-gap: $columns-gap;
}

// column-rule
//
// Handles vendor prefixes for CSS column-rule
//
// ```
// @include column-rule($border-width: 1px, $border-style: normal, $border-color: $trv-maincolor-04-lightest)
// ```
//
// $border-width:           - width, default: 1px
// $border-style:           - style, default: normal
// $border-color            - color, default: $trv-maincolor-04-lightest
//
// Styleguide tools.column-rule

@mixin column-rule($border-width: 1px, $border-style: normal, $border-color: $trv-maincolor-04-lightest) {
    -webkit-column-rule: $border-width $border-style $border-color;
       -moz-column-rule: $border-width $border-style $border-color;
            column-rule: $border-width $border-style $border-color;
}

// column-span
//
// Handles vendor prefixes for CSS column-span
//
// ```
// @include column-span($column-span)
// ```
//
// $column-span:           - columns span value
//
// Styleguide tools.column-span

@mixin column-span($column-span) {
  -webkit-column-span: $column-span;
          column-span: $column-span;
}