// cursor-grab
//
// Handles vendor prefixes for `cursor: grab`
//
// ```
// @include cursor-grab
// ```
//
// Styleguide tools.cursor-grab

@mixin cursor-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
