// deprecate
//
// Handles deprecation of CSS classes and properties
//
// @include deprecate($message: null)
//
// Example usage:
//
// ```
// @include deprecate("use .new-thing instead") {
//    .thing { color:red; }
// };
// ```
//
// $message:          - message that is outputted while building the CSS
//
// Description:
// See also settings `$deprecation-mode`
//
// Styleguide tools.deprecate


// Deprecation mode
//
// ### Available modes:
// - 'disabled': output all the code, even if deprecated
// - 'verbose': show all warnings, even for code that is *about* to be deprecated
// - 'fail': prevent compilation when deprecated code is found
//
// @type String

// deprecation-mode
//
// $deprecate-mode:     - deprecation mode (disabled, verbose, fail)
//
// Styleguide settings.deprecation-mode

$deprecate-mode: 'verbose' !default;
$deprecation-found: false;

@mixin deprecate($message: null) {
  @if ('disabled' == $deprecate-mode) {
    @content;
  } @else {
    $deprecation-found: true;
    @if ('verbose' == $deprecate-mode) {
     @if (&) {
       $parent: &;
       @warn '#{$parent} is deprecated';
     } @else {
       @warn 'Some code is deprecated.';
     }
     @content;
   }
   @if ($deprecation-found) {
     $message: if($message, '\AREASON:  #{$message}', '');
     @if ('fail' == $deprecate-mode) {
       @error 'Deprecated code was found. Remove it to continue.#{$message}';
     } @else {
       @warn 'Deprecated code was found, it should be removed soon.#{$message}';
     }
   }
  }
}
