// flexbox
//
// Handles vendor prefixes for CSS flexbox
//
// ```
// @include flexbox()
// ```
//
// Styleguide tools.flexbox

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

%flexbox { @include flexbox; }

// inline flex
//
// Handles vendor prefixes for flexbox inline-flex
//
// ```
// @include inline-flex()
// ```
//
// Styleguide tools.inline-flex

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

%inline-flex { @include inline-flex; }

// flexbox direction
//
// Handles vendor prefixes for flexbox flex-direction
//
// ```
// @include flex-direction($value: row)
// ```
//
// $values:         - row | row-reverse | column | column-reverse
//
// Styleguide tools.flex-direction

@mixin flex-direction($value: row) {
    @if $value == row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
    } @else if $value == column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
    } @else if $value == column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
    } @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
    }
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}
// Shorter version:
@mixin flex-dir($args...) { @include flex-direction($args...); }

// flex wrap
//
// Handles vendor prefixes for flexbox flex-wrap
//
// ```
// @include flex-wrap($value: nowrap)
// ```
//
// $value:         - nowrap | wrap | wrap-reverse
//
// Styleguide tools.flex-wrap

@mixin flex-wrap($value: nowrap) {
    // No Webkit Box fallback.
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    @if $value == nowrap {
        -ms-flex-wrap: none;
    } @else {
        -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}

// flex flow
//
// Handles vendor prefixes for flexbox shorthand flex-flox
//
// ```
// @include flex-flow($values: (row nowrap)
// ```
//
// $values:         - <flex-direction> | <flex-wrap>
//
// Styleguide tools.flex-flow

@mixin flex-flow($values: (row nowrap)) {
    // No Webkit Box fallback.
    -webkit-flex-flow: $values;
    -moz-flex-flow: $values;
    -ms-flex-flow: $values;
    flex-flow: $values;
}

// flex order
//
// Handles vendor prefixes for flexbox order
//
// ```
// @include order($int: 0)
// ```
//
// $int:         - integer
//
// Styleguide tools.flex-order

@mixin order($int: 0) {
    -webkit-box-ordinal-group: $int + 1;
    -webkit-order: $int;
    -moz-order: $int;
    -ms-flex-order: $int;
    order: $int;
}

// flex grow
//
// Handles vendor prefixes for flexbox flex-grow
//
// ```
// @include flex-grow($int: 0)
// ```
//
// $int:         - integer
//
// Styleguide tools.flex-grow

@mixin flex-grow($int: 0) {
    -webkit-box-flex: $int;
    -webkit-flex-grow: $int;
    -moz-flex-grow: $int;
    -ms-flex-positive: $int;
    flex-grow: $int;
}

// flex shrink
//
// Handles vendor prefixes for flexbox flex-shrink
//
// ```
// @include flex-shrink($int: 1)
// ```
//
// $int:         - integer
//
// Styleguide tools.flex-shrink

@mixin flex-shrink($int: 1) {
    -webkit-flex-shrink: $int;
    -moz-flex-shrink: $int;
    -ms-flex-negative: $int;
    flex-shrink: $int;
}

// flex basis
//
// Handles vendor prefixes for flexbox flex-basis
//
// ```
// @include flex-basis($value: auto)
// ```
//
// $value:         - like "width"
//
// Styleguide tools.flex-basis

@mixin flex-basis($value: auto) {
    -webkit-flex-basis: $value;
    -moz-flex-basis: $value;
    -ms-flex-preferred-size: $value;
    flex-basis: $value;
}

// flex
//
// Handles vendor prefixes for flexbox shorthand flex
//
// ```
// @include flex($fg: 1, $fs: null, $fb: null)
// ```
//
// $fg:         - <flex-grow>
// $fs:         - <flex-shrink>
// $fb:         - <flex-basis>
//
// Styleguide tools.flex

@mixin flex($fg: 1, $fs: null, $fb: null) {

    // Set a variable to be used by box-flex properties
    $fg-boxflex: $fg;

    // Box-Flex only supports a flex-grow value so let's grab the
    // first item in the list and just return that.
    @if type-of($fg) == 'list' {
        $fg-boxflex: nth($fg, 1);
    }

    -webkit-box-flex: $fg-boxflex;
    -webkit-flex: $fg $fs $fb;
    -moz-box-flex: $fg-boxflex;
    -moz-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}

// flexbox justify content
//
// Handles vendor prefixes for flexbox justify content
//
// ```
// @include justify-content($value: flex-start)
// ```
//
// $value:         - flex-start | flex-end | center | space-between | space-around
//
// Styleguide tools.flexbox-justify-content

@mixin justify-content($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    justify-content: $value;
}
// Shorter version:
@mixin flex-just($args...) { @include justify-content($args...); }

// flexbox align items
//
// Handles vendor prefixes for flexbox align item
//
// ```
// @include align-items($value: stretch)
// ```
//
// $value:         - flex-start | flex-end | center | baseline | stretch
//
// Styleguide tools.flexbox-align-items

@mixin align-items($value: stretch) {
    @if $value == flex-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
    } @else if $value == flex-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
    } @else {
        -webkit-box-align: $value;
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    -moz-align-items: $value;
    align-items: $value;
}

// flexbox align self
//
// Handles vendor prefixes for flexbox align-self
//
// ```
// @include align-items($value: stretch)
// ```
//
// $value:         - auto | flex-start | flex-end | center | baseline | stretch
//
// Styleguide tools.flexbox-align-self

@mixin align-self($value: auto) {
    // No Webkit Box Fallback.
    -webkit-align-self: $value;
    -moz-align-self: $value;
    @if $value == flex-start {
        -ms-flex-item-align: start;
    } @else if $value == flex-end {
        -ms-flex-item-align: end;
    } @else {
        -ms-flex-item-align: $value;
    }
    align-self: $value;
}

// flexbox align content
//
// Handles vendor prefixes for flexbox align-content
//
// ```
// @include align-items($value: stretch)
// ```
//
// $value:         - flex-start | flex-end | center | space-between | space-around | stretch
//
// Styleguide tools.flexbox-align-content

@mixin align-content($value: stretch) {
    // No Webkit Box Fallback.
    -webkit-align-content: $value;
    -moz-align-content: $value;
    @if $value == flex-start {
        -ms-flex-line-pack: start;
    } @else if $value == flex-end {
        -ms-flex-line-pack: end;
    } @else {
        -ms-flex-line-pack: $value;
    }
    align-content: $value;
}