// link pseudos
//
// Generates link-pseudos (&:link, &:visisted, &:hover, &:focus; &:active)
//
// ```
// @include link-pseudos()
// ```
//
// Styleguide tools.link-pseudos
/*
 * Pseudoclasses for links
 */
@mixin link-pseudos {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

// link pseudos hover
//
// Generates link-pseudos hover (&:hover, &:focus; &:active)
//
// ```
// @include link-pseudos-hover()
// ```
//
// Styleguide tools.link-pseudos-hover

@mixin link-pseudos-hover {
    &:hover,
    &:focus,
    &:active,
    &.active {
        @content;
    }
}

// link pseudos hover focus
//
// Generates link-pseudos focus & active (&:focus; &:active)
//
// ```
// @include link-pseudos-focus()
// ```
//
// Styleguide tools.link-pseudos-focus

@mixin link-pseudos-focus {
    &:focus,
    &:active {
        @content;
    }
}