// respond-to-min
//
// Handles min-width media queries
//
// ```
// @include respond-to-min($value)
// ```
//
// $value:          - media query variables e.g. $screen-small
//
// Styleguide tools.respond-to-min

/* # min-width media query */
@mixin respond-to-min($value) {
    @media #{$screen} and (min-width: $value) {@content;}
}

// respond-to-max
//
// Handles max-width media queries
//
// ```
// @include respond-to-max($value)
// ```
//
// $value:          - media query variables e.g. $screen-small
//
// Styleguide tools.respond-to-max

/* # max-width media query */
@mixin respond-to-max($value) {
    @media #{$screen} and (max-width: $value) {@content;}
}

// respond-to-min-max
//
// Handles min-max-width media queries
//
// ```
// @include respond-to-min-max($value)
// ```
//
// $value-from:          - media query variables e.g. $screen-small
// $value-to:            - media query variables e.g. $screen-medium
//
// Styleguide tools.respond-to-max

/* # between min and max media query */
@mixin respond-to-min-max($value-from, $value-to) {
    @media #{$screen} and (min-width: $value-from) and (max-width: $value-to) {@content;}
}
