// margin
//
// Creates margin's for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include margin($top, $trail: null, $bottom: null, $lead: null)
// ```
//
// $top:        - top value
// $trail:      - trailing value (right in ltr, left in rtl)
// $bottom:     - bottom value
// $lead:       - leading value (left in ltr, right in rtl)
//
// Styleguide tools.margin

@mixin margin($top, $trail: null, $bottom: null, $lead: null) {
    @if $trail == null {
        $trail: $top;
    }

    @if $bottom == null {
        $bottom: $top;
    }

    @if $lead== null {
        $lead: $trail;
    }

    @if $leading == left {
        margin: $top $trail $bottom $lead;
    } @else if $leading == right{
        margin: $top $lead $bottom $trail;
    }
}

// margin-leading
//
// Creates leading margin for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include margin-leading($margin)
// ```
//
// $margin:       - margin value
//
// Styleguide tools.margin-leading

@mixin margin-leading($margin) {
    margin-#{$leading}: $margin;
}

// margin-trailing
//
// Creates trailing margin for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include margin-trailing($margin)
// ```
//
// $margin:       - margin value
//
// Styleguide tools.margin-trailing

@mixin margin-trailing($margin) {
    margin-#{$trailing}: $margin;
}

// padding
//
// Creates padding's for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include padding($top, $trail: null, $bottom: null, $lead: null)
// ```
//
// $top:        - top value
// $trail:      - trailing value (right in ltr, left in rtl)
// $bottom:     - bottom value
// $lead:       - leading value (left in ltr, right in rtl)
//
// Styleguide tools.padding

@mixin padding($top, $trail: null, $bottom: null, $lead: null) {
    @if $trail == null {
        $trail: $top;
    }

    @if $bottom == null {
        $bottom: $top;
    }

    @if $lead== null {
        $lead: $trail;
    }

    @if $leading == left {
        padding: $top $trail $bottom $lead;
    } @else if $leading == right{
        padding: $top $lead $bottom $trail;
    }
}

// padding-leading
//
// Creates leading padding for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include padding-leading($padding)
// ```
//
// $padding:       - padding value
//
// Styleguide tools.padding-leading

@mixin padding-leading($padding) {
    padding-#{$leading}: $padding;
}

// padding-trailing
//
// Creates trailing padding for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include padding-trailing($padding)
// ```
//
// $padding:       - padding value
//
// Styleguide tools.padding-trailing

@mixin padding-trailing($padding) {
    padding-#{$trailing}: $padding;
}

// border-leading
//
// Creates leading border for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include border-leading($padding)
// ```
//
// $padding:       - padding value
//
// Styleguide tools.border-trailing

@mixin border-leading($one, $two: null, $three: null) {
    @if $three != null {
        border-#{$leading}: $one $two $three;
    } @else if $two != null {
        border-#{$leading}: $one $two;
    } @else {
        border-#{$leading}: $one
    }
}

// border-trailing
//
// Creates leading border for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include border-leading($padding)
// ```
//
// $padding:       - padding value
//
// Styleguide tools.border-trailing

@mixin border-trailing($one, $two: null, $three: null) {
    @if $three != null {
        border-#{$trailing}: $one $two $three;
    } @else if $two != null {
        border-#{$trailing}: $one $two;
    } @else {
        border-#{$trailing}: $one
    }
}

// border-width
//
// Creates border width for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include border-width($top, $trail: null, $bottom: null, $lead: null)
// ```
//
// $top:       - top value
// $trail:     - trailing value
// $bottom:    - bottom value
// $lead:      - leading value
//
// Styleguide tools.border-width

@mixin border-width($top, $trail: null, $bottom: null, $lead: null) {
    @if $trail == null {
        $trail: $top;
    }

    @if $bottom == null {
        $bottom: $top;
    }

    @if $lead== null {
        $lead: $trail;
    }

    @if $leading == left {
        border-width: $top $trail $bottom $lead;
    } @else if $leading == right{
        border-width: $top $lead $bottom $trail;
    }
}

// border-radius
//
// Creates border-radius width for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include border-radius($leadingtop, $trailingtop, $trailingbottom, $leadingbottom)
// ```
//
// $leadingtop:         - leading top value
// $trailtop:           - trailing top value
// $trailingbottom:     - trailingbottom value
// $leadingbottom:      - leadingbottom value
//
// Styleguide tools.border-radius

@mixin border-radius($leadingtop, $trailingtop, $trailingbottom, $leadingbottom) {
    @if $leading == left {
        border-radius: $leadingtop $trailingtop $trailingbottom $leadingbottom;
    } @else if $leading == right{
        border-radius: $trailingtop $leadingtop $leadingbottom $trailingbottom;
    }
}

// border-color
//
// Creates border-color width for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include border-color($colortop, $colorright, $colorbottom, $colorleft)
// ```
//
// $colortop:               - top value
// $colorright:             - trailing value
// $colorbottom:            - bottom value
// $colorleft:              - leading value
//
// Styleguide tools.border-color

@mixin border-color($colortop, $colorright, $colorbottom, $colorleft) {
    @if $leading == left {
        border-color: $colortop $colorright $colorbottom $colorleft;
    } @else if $leading == right {
        border-color: $colortop $colorleft $colorbottom $colorright;
    }
}

// float
//
// Creates float for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include float($side)
// ```
//
// $side:               - leading or trailing
//
// Styleguide tools.float

@mixin float($side)  {
    @if $side == leading {
        float: $leading;
    } @else if $side == trailing {
        float: $trailing;
    }
}

// clear
//
// Creates clear for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include clear($side)
// ```
//
// $side:               - leading or trailing
//
// Styleguide tools.clear

@mixin clear($side)  {
    @if $side == leading {
        clear: $leading;
    } @else if $side == trailing {
        clear: $trailing;
    }
}

// text-align
//
// Creates text-align for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include clear($side)
// ```
//
// $side:               - leading or trailing
//
// Styleguide tools.text-align

@mixin text-align($side) {
    @if $side == leading {
        text-align: $leading;
    } @else if $side == trailing {
        text-align: $trailing;
    }
}

// background-position
//
// Creates background-position for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include background-position($ypos, $xpos)
// ```
//
// $xpos:               - x-position
// $ypos:               - y-position
//
// Styleguide tools.background-position

@mixin background-position($ypos, $xpos) {
    @if $xpos == leading {
        background-position: $ypos $leading;
    } @else if $xpos == trailing {
        background-position: $ypos $trailing;
    }
}

// position
//
// Creates position values for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include position-value($side, $value)
// ```
//
// $side:                - leading or trailing
// $value:               - position value, e.g. $gutter
//
// Styleguide tools.position

@mixin position-value($side, $value) {
    @if $side == leading {
        #{$leading}: $value;
    } @else if $side == trailing {
        #{$trailing}: $value;
    }
}

// transform-translateX
//
// Creates transform-translateX values and vendor prefixes for ltr and rtl platforms, depending on the text-direction values in settings
//
// ```
// @include transform-translateX($value)
// ```
//
// $value:                - translateX value
//
// Styleguide tools.transform-translateX

@mixin transform-translateX($value) {
    @if $leading == left {
        -webkit-transform: translateX($value);
        transform: translateX($value);
    } @else if $leading == right {
        -webkit-transform: translateX($value * (-1));
        transform: translateX($value * (-1));
    }
}

// is-rtl
//
// Checks whether platform is in right to left mode and outputs content
//
// ```
// @include is-rtl()
// ```
//
// Styleguide tools.is-rtl

@mixin is-rtl{
    @if $dir == rtl{
        @content;
    }
}

// is-ltr
//
// Checks whether platform is in left to right mode and outputs content
//
// ```
// @include is-ltr()
// ```
//
// Styleguide tools.is-ltr

@mixin is-ltr{
    @if $dir == ltr{
        @content;
    }
}
