// text-overflow
//
// Creates properties needed for single line text-overflow ellipsis. Width has to be set manually
//
// ```
// @include text-overflow
// ```
//
// Styleguide tools.text-overflow

@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
