// touch-action
//
// Handles vendor prefixes for touch-action
//
// ```
// @include touch-action
// ```
//
// Styleguide tools.touch-action

@mixin touch-action {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
