// transform-origin
//
// Handles vendor prefixes for CSS transform-origin.
//
// ```
// @include transform-origin($values...)
// ```
//
// $values:          - transform-origin values
//
// Styleguide tools.transform-origin

@mixin transform-origin ($values...) {
    -webkit-transform-origin: $values;
    transform-origin: $values;
}