// transition
//
// Handles vendor prefixes for CSS transition.
//
// ```
// @include transition($values...)
// ```
//
// $values:          - transition values
//
// Styleguide tools.transition

@mixin transition ($values...) {
    -webkit-transition: $values;
    transition: $values;
}