// transform
//
// Handles vendor prefixes for CSS transform.
//
// ```
// @include transform($values...)
// ```
//
// $values:          - transform values
//
// Styleguide tools.transform

@mixin transform ($values...) {
    -webkit-transform: $values;
    -ms-transform: $values;
    transform: $values;
}