// transform-style
//
// Handles vendor prefixes for CSS transform-style.
//
// ```
// @include transform-style($values...)
// ```
//
// $values:          - transform-style values
//
// Styleguide tools.transform-style

@mixin transform-style ($values) {
    -webkit-transform-style: $values;
    transform-style: $values;
}
