// user-select
//
// Handles vendor prefixes for user-select
//
// ```
// @include user-select
// ```
//
// Styleguide tools.user-select

@mixin user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
