<footer class="c-footer u-padding--doubled-zero u-background--04 u-text-align--center">
    <p class="footer__copyright-text u-font-size--3xs">Copyright {{ cFooter.year }} app - All right reserved</p>
</footer>
