<header class="c-header u-layer--third" role="banner">
    <div class="u-container u-align--container-center u-padding--zero-doubled u-height--quadruple">
        <h1 class="u-align--item u-align--container-center u-height--quadruple">
            <a href="{{ cHeader.baseUri }}">{{ cHeader.i18n['_logo.app_'] }}</a>
        </h1>
    </div>
</header>
