<div class="
    u-container
    u-padding-right--doubled
    u-padding-left--doubled
    u-padding-top--triple
    u-text-align--center
">
    <p class="
        u-font-color--01
        u-font-size--xl
        u-margin-bottom
    ">
        {{ vError404.i18n['oops.a.404.error'] }}
    </p>
    <p class="u-margin-bottom--triple">
        <svg width="408px" height="142px" viewBox="0 0 408 142" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>error image</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="404" transform="translate(-436.000000, -231.000000)" fill="#007FAD">
                    <g id="Group-2" transform="translate(436.000000, 231.000000)">
                        <g id="Maze">
                            <rect id="Rectangle-22" x="14" y="0" width="393.901367" height="2"></rect>
                            <rect id="Rectangle-23" x="406" y="2" width="2" height="140"></rect>
                            <rect id="Rectangle-24" x="336" y="2" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="322" y="16" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="308" y="14" width="2" height="42"></rect>
                            <rect id="Rectangle-44" x="280" y="14" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="268" y="28" width="26" height="2"></rect>
                            <rect id="Rectangle-44" x="240" y="28" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="294" y="70" width="44" height="2"></rect>
                            <rect id="Rectangle-44" x="252" y="70" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="238" y="30" width="2" height="54"></rect>
                            <rect id="Rectangle-44" x="196" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="182" y="28" width="58" height="2"></rect>
                            <rect id="Rectangle-44" x="142" y="68" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="182" y="126" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="128" y="98" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="182" y="112" width="44" height="2"></rect>
                            <rect id="Rectangle-44" x="226" y="126" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="196" y="96" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="238" y="84" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="238" y="98" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="156" y="14" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="114" y="28" width="26" height="2"></rect>
                            <rect id="Rectangle-44" x="98" y="42" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="70" y="42" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="70" y="28" width="30" height="2"></rect>
                            <rect id="Rectangle-44" x="86" y="56" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="98" y="58" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="112" y="56" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="128" y="84" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="156" y="112" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="156" y="126" width="26" height="2"></rect>
                            <rect id="Rectangle-44" x="112" y="70" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="98" y="98" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="112" y="126" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="86" y="112" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="28" y="98" width="44" height="2"></rect>
                            <rect id="Rectangle-44" x="58" y="14" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="42" y="28" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="42" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="16" y="28" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="28" y="44" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="28" y="72" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="42" y="86" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="56" y="100" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="28" y="114" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="14" y="112" width="2" height="28"></rect>
                            <rect id="Rectangle-44" x="56" y="70" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="70" y="70" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="112" y="86" width="2" height="28"></rect>
                            <rect id="Rectangle-44" x="168" y="98" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="154" y="86" width="2" height="42"></rect>
                            <rect id="Rectangle-44" x="98" y="126" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="126" y="86" width="2" height="40"></rect>
                            <rect id="Rectangle-44" x="2" y="56" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="2" y="84" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="2" y="98" width="15.9177007" height="2"></rect>
                            <rect id="Rectangle-44" x="2" y="70" width="13.9279881" height="2"></rect>
                            <rect id="Rectangle-44" x="28" y="70" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="56" y="84" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="28" y="112" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="28" y="126" width="56" height="2"></rect>
                            <rect id="Rectangle-44" x="98" y="84" width="30" height="2"></rect>
                            <rect id="Rectangle-44" x="30" y="56" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="154" y="28" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="196" y="14" width="42" height="2"></rect>
                            <rect id="Rectangle-44" x="310" y="28" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="310" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="378" y="70" width="28" height="2"></rect>
                            <rect id="Rectangle-44" x="352" y="84" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="366" y="98" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="380" y="126" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="378" y="112" width="2" height="16"></rect>
                            <rect id="Rectangle-44" x="364" y="112" width="2" height="28"></rect>
                            <rect id="Rectangle-44" x="338" y="98" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="352" y="112" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="350" y="126" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="2" y="140" width="390" height="2"></rect>
                            <rect id="Rectangle-44" x="238" y="112" width="58" height="2"></rect>
                            <rect id="Rectangle-44" x="336" y="56" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="322" y="44" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="294" y="44" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="322" y="72" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="322" y="100" width="2" height="12"></rect>
                            <rect id="Rectangle-44" x="322" y="126" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="224" y="126" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="268" y="126" width="12" height="2"></rect>
                            <rect id="Rectangle-44" x="266" y="126" width="2" height="14"></rect>
                            <rect id="Rectangle-44" x="350" y="70" width="2" height="44"></rect>
                            <rect id="Rectangle-44" x="364" y="72" width="2" height="28"></rect>
                            <rect id="Rectangle-44" x="294" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="336" y="28" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="378" y="28" width="16" height="2"></rect>
                            <rect id="Rectangle-44" x="392" y="42" width="14" height="2"></rect>
                            <rect id="Rectangle-44" x="336" y="42" width="44" height="2"></rect>
                            <rect id="Rectangle-24" x="350" y="16" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="364" y="16" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="392" y="16" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="378" y="30" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="364" y="44" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="392" y="44" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="378" y="56" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="392" y="98" width="2" height="44"></rect>
                            <rect id="Rectangle-24" x="378" y="86" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="392" y="72" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="294" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="266" y="16" width="2" height="54"></rect>
                            <rect id="Rectangle-24" x="280" y="30" width="2" height="82"></rect>
                            <rect id="Rectangle-24" x="294" y="86" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="294" y="114" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="308" y="86" width="2" height="54"></rect>
                            <rect id="Rectangle-24" x="224" y="30" width="2" height="82"></rect>
                            <rect id="Rectangle-24" x="252" y="114" width="2" height="26"></rect>
                            <rect id="Rectangle-24" x="252" y="86" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="266" y="84" width="2" height="28"></rect>
                            <rect id="Rectangle-24" x="238" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="252" y="28" width="2" height="42"></rect>
                            <rect id="Rectangle-24" x="182" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="140" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="168" y="16" width="2" height="82"></rect>
                            <rect id="Rectangle-24" x="154" y="30" width="2" height="40"></rect>
                            <rect id="Rectangle-24" x="182" y="30" width="2" height="82"></rect>
                            <rect id="Rectangle-24" x="196" y="44" width="2" height="52"></rect>
                            <rect id="Rectangle-24" x="210" y="42" width="2" height="56"></rect>
                            <rect id="Rectangle-24" x="126" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="112" y="16" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="98" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="98" y="30" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="126" y="30" width="2" height="54"></rect>
                            <rect id="Rectangle-24" x="140" y="28" width="2" height="42"></rect>
                            <rect id="Rectangle-24" x="70" y="30" width="2" height="28"></rect>
                            <rect id="Rectangle-24" x="84" y="44" width="2" height="70"></rect>
                            <rect id="Rectangle-24" x="42" y="44" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="84" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="70" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="42" y="2" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="28" y="14" width="2" height="14"></rect>
                            <rect id="Rectangle-24" x="14" y="16" width="2" height="42"></rect>
                            <rect id="Rectangle-24" x="56" y="14" width="2" height="30"></rect>
                            <polygon id="Rectangle-24" points="0 0 2 0 2 77.6010742 2 142 0 142"></polygon>
                            <rect id="Rectangle-38" x="322" y="14" width="30" height="2"></rect>
                            <rect id="Rectangle-38" x="364" y="14" width="30" height="2"></rect>
                            <rect id="Rectangle-24" x="336" y="30" width="2" height="12"></rect>
                            <rect id="Rectangle-24" x="336" y="58" width="2" height="68"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </p>
    <p class="
        u-font-color--04-light
        u-margin-bottom--one-plus-half
    ">
        {{ vError404.i18n['_view.error404.message_'] }}
    </p>
    <a href="{{vError404.link}}"  class="btn btn--primary btn--small">{{ vError404.i18n['go.back.to.app'] }}</a>
</div>
